/*Sizing Styles */
.sm-pad{
  padding: 5px;
}
.fixed-width-sm {
  width: 176px;
}


/*Positioning Styles */
.flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.flex-center{
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center{
  align-items: center;
}
.txt-right {
  text-align: right;
}
.upper-cnt {
  margin-top: 70px;
}

/* Card Styles */
.gtas-card-container .cbp-card  {
    min-height: inherit;
}
.gtas-card-container .cbp-card__title {
  padding: 10px;
}
.cbp-card .txt-color {
  color: #333333;
}

/*Color Setup */
.primary-outline {
  outline: #00416a 2px solid;
}
.success-outline {
  outline: #008000 2px solid;
}
.warning-outline {
  outline: #F09511 2px solid;
}
.danger-outline {
  outline: #A00000 2px solid;
}


/*Custom Components*/
.h-label{
	background-color: #00416a;
  display: inline;
  padding: 8px;
  color: white;
}

/*Angular-materials cbp overrides */
.cbp-input, .md-chips {
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: inherit;
  vertical-align: inherit;
}
.cbp-input, .md-chips .md-chip-input-container{
    width: 100%;
}
.cbp-input, .md-input-container .md-input {
     display: inherit;
     margin-top: inherit;
     padding: inherit;
     border-width: inherit;
     line-height: inherit;
     border-radius: inherit;
     border-style: inherit;
     box-sizing: inherit;
     float: inherit;
}
.cbp-text-field {
  padding: 20px 10px !important;
}
.cbp-text-field-label {
  padding-left: 10px !important;
}
.cbp-datepicker {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 20px 5px;
}
.cbp-datepicker .md-datepicker-input-container{
  border-bottom-color: rgb(85, 85, 85) !important;
}
.cbp-datepicker .md-datepicker-input-container:focus{
  border-bottom-width: 1px !important;
}
.cbp-datepicker .md-datepicker-input {
  height: 56px;
}
.cbp-datepicker .md-datepicker-input:hover{
  background-color: rgba(20,96,170,.1)!important;
}
.cbp-datepicker .md-datepicker-triangle-button{
  top: 10px;
  bottom: 0px;
  background-color: inherit !important;
}
.cbp-non-chip-input {
  height: 57px;
  border-bottom-color: rgb(85, 85, 85) !important;
}
.cbp-non-chip-input:focus {
  outline: inherit;
}
.sidebar {
  margin-top: 0px !important;
}



/* BEGIN IE css patches */
/*md-input-container .md-input { flex: none !important; }*/

.md-select-label :first-child{
    flex-basis: auto;
    max-width: 100%;
    overflow: hidden;
}
/* END IE css patches */

.spinner {
    width: 100px;
    height: 100px;

    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 50px);
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9c9;
    border: solid 3px #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.please-wait {
    text-align: center;
    position: absolute;
    top: calc(50% + 45px);
    left: calc(50% - 45px);
    color: #fff;
    z-index: 10;
}

.success {
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px #050;
}

.md-sidenav-left,
.md-sidenav-right {
    min-width: 400px;
    left: 100%;
    top: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
