

.md-tab {
  border-bottom: 2px solid #00416a;
  border-top: 2px solid #fff;
}

md-tabs-canvas {
  position: static !important;
  border-bottom: 2px solid #00416a !important;
}

md-tabs.md-default-theme .md-ink-bar, md-tabs md-ink-bar {
  display: none;
  background: #fff;
}
.md-tab.md-active{
  border: 2px solid #00416a;
  border-bottom-color: #fff;
}

md-tabs .md-tab:active .md-ripple-container {
  background-color: rgba(16, 182, 223, 0.185) !important;
}
md-tabs.md-default-theme .md-tab .md-ripple-container, md-tabs .md-tab .md-ripple-container {
  color: #23b0f1;
}
md-tabs .md-tab .md-ripple-container .md-ripple {
  background: #23b0f1 !important;
  /* border-color: #38fc42 !important; */
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
  background-color: rgba(35, 176, 241, 0.5);
}
md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
  color: rgb(35, 176, 241);
}
md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
  background-color: rgb(35,176,241);
}
@media (min-width: 1200px) {
  .sidebar {
    bottom: auto !important;
  }
}
.table-wrap {
  word-break: break-all;
  min-width: 30vh;
}
.nowrap {
  word-break: keep-all;
}
.cbp-card-container .cbp-card {
  min-height: inherit !important;
}
.fixed-content.top {
  top: 53;
  z-index: 1030;
}
.scroll-card {
  max-height: calc(100vh - 270px);
   overflow-y: scroll;
}
.scroll-container {
  max-height: calc(100vh - 210px);
   overflow-y: scroll;
}
.scroll-container-outer {
  max-height: calc(100vh - 182px);
   overflow-y: scroll;
}
.action-buttons {
  position: absolute;
  top: 118px;
  right: 22px;
  min-width: 400px;
  z-index: 50;
}
span.right-header{
  float: right;
  margin: 0px 9px;
  font-size: 16px;
  font-weight: normal;
}

.nav-dots>li>a {
  box-shadow: 0 0 0 3px #aaa;
  background-color: white !important;
}
.nav-dots>li.active>a {
  background-color: #1460aa !important;
}
 td a {
  color: #3F51B5;
  font-weight: bold;
}
.flight-grid.ui-grid {
  height: calc(100vh - 120px);
  min-height: 240px;
}
.case-grid.ui-grid {
  height: calc(100vh - 140px);
  min-height: 240px;
}



/*Sizing Styles */
.fnt-small {
  font-size: 12px;
}
.sm-pad{
  padding: 5px;
}
.sm-pad-span span {
  padding: 5px;
}
.md-pad{
  padding: 20px;
}
.no-margin-top {
  margin-top: 0px;
}
.no-margin {
  margin: 0px !important;
}
.no-pad-top {
  padding-top: 0px !important;
}
.no-pad-btm {
  padding-bottom: 0px !important;
}
.sm-margin {
  margin: 5px !important;
}
.md-margin{
  margin: 20px;
}
.md-margin-top {
  margin-top: 20px !important;
}
.fixed-width-sm {
  width: 176px !important;
}
.fixed-width-md{
  width: 450px !important;
}
.half-width {
  width: 49% !important;
}
.seventy-width {
  width: 70% !important;
}
.sixty-width {
  width: 60% !important;
}
.thirty-width {
  width: 30% !important;
}
.forty-width {
  width: 40% !important;
}
.sev-five-width {
  width: 75% !important;
}
.full-width {
  width: 100% !important;
}
.min-half-height {
  min-height: 50vh;
}
.min-half-height-case {
    min-height: 75vh;
}
.half-height {
  height: 50vh;
}
.sev-five-height {
  height: 75vh;
}
.full-height {
  height: 100% !important;
}
.tble-width-l {
  width: 125px !important;
}
.tble-width-m {
  width: 100px !important;
}
/*Positioning Styles */
.white-space-preline {
  white-space:pre-line;
}
.flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.right {
  float: right;
}
.center {
  margin: auto;
}
/*Internet Explorer Specific Styles*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ie-fix-sm{
        min-height: 70px;
    }
    .ie-fix-md {
      min-height: 200px;
    }
    .ie-fix-lg {
      min-height: 400px;
    }
}
.flex-line {
  display: inline-flex;
}
.flex-vert {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
}
.justify-around {
  justify-content: space-around;
}
.flex-center{
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center{
  align-items: center;
}
.align-self-center {
  align-self: center;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.upper-cnt {
  margin-top: 20px !important;
}
.upper-cnt-nav {
  margin-top: 0px !important;
}
@media (max-width : 1200px) {
  .upper-cnt {
    margin-top: 52px !important;
  }
  .upper-cnt-nav {
    margin-top: 52px !important;
  }
}

.gtas-card-container .cbp-card {
    min-height: inherit;
    max-height: 800px;
}
.gtas-card-container .cbp-card__title {
  padding: 10px;
}
.cbp-card .txt-color {
  color: #333333;
}

/*Color Setup */
.danger-color {
  color: #A00000;
}
.warning-color {
  color: #F09511;
}
.alert-color {
    color: #ff9780;
}
.primary-outline {
  outline: #00416a 2px solid !important;
}
.success-outline {
  outline: #008000 2px solid !important;
}
.warning-outline {
  outline: #F09511 2px solid !important;
}
.danger-outline {
  outline: #A00000 2px solid !important;
}
.primary-border {
  border: #00416a 2px solid !important;
}
.success-border {
  border: #008000 2px solid !important;
}
.warning-border {
  border: #F09511 2px solid !important;
}
.danger-border {
  border: #A00000 2px solid !important;
}
.warning-border-th {
  border: #F09511 1px solid !important;
}
.danger-border-th {
  border: #A00000 1px solid !important;
}
.danger-back {
  background-color: #A00000 !important;
  color: white !important;
}
.warning-back {
  background-color: #F09511 !important;
  color: black !important;
}
.primary-back {
  background-color: #00416a !important;
  color: white !important;
}
/*Custom Components*/
.h-label{
	background-color: #00416a;
  display: inline;
  padding: 8px;
  color: white;
}
.block-label {
  display: block;
  padding: 8px;
  color: white;
  background-color: #00416a;
  margin-bottom: 0px;
}
.alt-label {
  background-color: #1460AA;
  display: inline;
  padding: 8px;
  color: white;
}
.right-border-grey {
  border-right: 1px solid #adadad;
}
/*Custom flightpax*/
.highlight {
  background-color: yellow;
}
.flight-info * {
  font-family: 'Roboto Mono', monospace;
  color: white;
}
.flight-num {
  margin-top: 10px;
}
.actions button{
  text-transform: uppercase;
  margin: 5px;
}
.multi-tooltip {
  max-width:400px;
  word-wrap: break-word !important;
  height: auto !important;
  white-space: normal;
}
.notif-icon {
  text-align:center;
  vertical-align:middle;
  position: relative;
}
.notif-icon-cnt {
  position: absolute;
  background: #A00000;
  height:2rem;
  top:1rem;
  right:.5rem;
  width:2rem;
  text-align: center;
  line-height: 2rem;;
  font-size: 1rem;
  border-radius: 50%;
  color:white;
  border:1px solid #A00000;
}
/*Custom paxdetail*/
.center-btn{
  margin: 15px auto !important;
  display: block !important;
}
.eight-table td {
  width: 12% !important;
}
.seven-table td{
  width: 15%;
}
.seven-table th{
  width: 10%;
}
.six-table td {
  width: 16.6%;
}
.five-table td {
  width: 20%;
}
.four-table td {
  width: 25%;
}
.three-table td {
  width: 33%;
}
.two-table td {
  width: 50%;
}

/* Pax Detail specific*/
.pad-left-1px-align-middle tr {
    padding:1px;
    vertical-align:middle;
    margin:0 0 1em;
}
.pad-left-2px-align-middle tr {
    padding:1px;
    vertical-align:middle;
}
.pad-left-3px-align-middle tr {
    padding:1px;
    vertical-align:middle;
}
.pad-left-4px-align-middle tr {
    padding:1px;
    vertical-align:middle;
}
.pad-left-5px-align-middle tr {
    padding:1px;
    vertical-align:middle;
}

/*Angular-materials cbp overrides */
.cbp-input, .md-chips {
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: inherit;
  vertical-align: inherit;
}
.cbp-input, .md-chips .md-chip-input-container{
    width: 100%;
}
.cbp-input, .md-input-container .md-input {
     display: inherit;
     margin-top: inherit;
     padding: inherit;
     border-width: inherit;
     line-height: inherit;
     border-radius: inherit;
     border-style: inherit;
     box-sizing: inherit;
     float: inherit;
}
.cbp-text-field {
  padding: 20px 10px !important;
}
.cbp-text-field-label {
  padding-left: 10px !important;
}
.cbp-datepicker {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 20px 5px;
}
.cbp-datepicker .md-datepicker-input-container{
  border-bottom-color: rgb(85, 85, 85) !important;
}
.cbp-datepicker .md-datepicker-input-container:focus{
  border-bottom-width: 1px !important;
}
.cbp-datepicker .md-datepicker-input {
  height: 39px;
  padding: 0px 5px;
}
.cbp-datepicker .md-datepicker-input:hover{
  background-color: rgba(20,96,170,.1)!important;
}
.cbp-datepicker .md-datepicker-triangle-button{
  bottom: 0px;
  background-color: inherit !important;
}
.cbp-non-chip-input {
  border-bottom-color: rgb(85, 85, 85) !important;
}
.cbp-non-chip-input:focus {
  outline: inherit;
}
.static-label {
  top: 0px !important;
}
#cbp-sidebar {
  margin-top: 0px !important;
  z-index: 2 !important;
  transform: translateX(-350px);
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
#cbp-sidebar.active {
  transform: translateX(0px);
}
.sidebar {
  z-index: 1 !important;
  position: absolute;
  height: 85vh;
  padding: 10px;
  width: 350px;
  margin-top: 51px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar-toggle {
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 50vh;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
#sidebar-toggle.active {
  -ms-transform: translateX(348px); /* IE 9 */
  -webkit-transform: translateX(348px); /* Chrome, Safari, Opera */
  transform: translateX(348px);
}
#sidebar-toggle.active i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

/*UI-Grid Overrides*/
.manage .ui-grid {
  height: 58vh !important;
}
.ui-grid {
  width: 99%;
  height: -webkit-fill-available;
  margin: auto;
}
.ui-grid-top-panel {
   background: #f0f0f0;
   border-bottom: #d4d4d4 1.5px solid;
   outline: 1px solid #f0f0f0;
}
.ui-grid-header-cell {
 border-right: inherit;
 padding: 10px 5px;
 color: rgb(85, 85, 85);
}
.ui-grid-header-cell:hover {
  background: #e3e3e3;
}
/*ui-grid cell styling*/
.ui-grid .md-button {
    line-height: 20px;
    min-height: 20px;
    min-width: inherit;
}
.ui-grid-cell-contents {
  text-align: center;
}
.ui-grid-cell {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
/*Override material ui Right sidebar */

.md-sidenav-right {
  margin-top: 100px !important;
  /* height: 100vh !important; */
}
.md-sidenav-backdrop {
  margin-top: 100px !important;
  /* height: 100vh !important; */
}

/*Override query builder */
.group-conditions .btn-primary.active {
  background-color: #F09511 !important;
  color: black !important;
}

/* BEGIN IE css patches */
.md-select-label :first-child{
    flex-basis: auto;
    max-width: 100%;
    overflow: hidden;
}

/* END IE css patches */


/*d3 graph */

.nodebox {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3.5px;
}
#node_PHYSICAL .nodebox {
    stroke: beige;
}
#node_PHYSICAL_HARD .nodebox {
    stroke: tan;
}
#node_PHYSICAL_SOFT .nodebox {
    stroke: yellow;
}
#node_BIOTA .nodebox {
    stroke: darkgreen;
}
#node_BIOTA_SPONGES .nodebox {
    stroke: orange;
}
#node_BIOTA_ALGAE .nodebox {
    stroke: green;
}
#node_BIOTA_ALGAE_CANOPY_ECK .nodebox {
    stroke: lightgreen;
}
#node_BIOTA_ALGAE_CRUSTOSE .nodebox {
    stroke: purple;
}
.nodeTitle {
    font: 8px sans-serif;
    font-weight: bold;
}
.nodeText {
    font: 8px sans-serif;
}
.f1Text {
    fill: orange;
    font-weight: bold;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 3.5px;
}

/*End d3 graph*/
.spinner {
    width: 100px;
    height: 100px;

    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 50px);
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9c9;
    border: solid 3px #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.please-wait {
    text-align: center;
    position: absolute;
    top: calc(50% + 45px);
    left: calc(50% - 45px);
    color: #fff;
    z-index: 10;
}

.success {
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px #050;
}

/*Switch responsive styles */
@media (max-width : 700px) {
  .switch-width-sm-half {
    width: 99%;
  }
}
@media (min-width : 700px) {
  .switch-width-sm-half {
    width: 50%;
  }
}
@media screen and (max-device-width:500px) {
    .mobile-hide {
      display: none !important;
    }
}