.login-container {
    width: 400px;
    padding-top: 25vh;
    margin: auto;
    max-width: 100%;
}
.login-container .login-header {
  background-color: #00416a;
  padding: 8px;
  color: white;
  margin-top: 0px;
}
