/*  Fonts  */
@import url(http://fonts.googleapis.com/css?family=ABeeZee:400,400italic);

/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 92.72727272727273%;
    margin: 0 auto;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}
/* Table */
.tg  {border-collapse:collapse;border-spacing:0;width:99.8%;  margin:2px; margin-right:-10px;}
.tg tr.blue{background:#96adbd;}
.tg td{font-family: 'ABeeZee', sans-serif; text-transform: uppercase;font-size:14px;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family: 'ABeeZee', sans-serif;  font-weight: bold; text-transform: uppercase;font-size:14px;font-weight:normal;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th.name{padding:8px 20px;font-weight: bold;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; width:120px;}
.tg th.suffix{font-weight: bold;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; width:60px;}
.tg th.title{padding:8px 5px;font-weight: bold;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; width:120px;}
.tg th.employees{padding:8px 5px;font-weight: bold;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; width:260px;}
.tg th.tick{font-weight: bold;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg td.tick{padding:0;}
.tg td.tick img{width:23px; margin: 0 auto;}
.tg th.id{padding:5px 5px;font-weight: bold;border-style:solid;border-width:1px;overflow:hidden;word-break:normal}

/*  Header  */
@media (min-width:1000px){
    header{
        display: block;
        background: rgb(0, 128, 128);; 
    }
	header .app-menu{
	margin-left:-50px; 
	background:#dee3ed; 
	width:340px;
	}
	
    header .logo{
        margin-top: 5px;
		margin-left: 15px;
    }
	header .logo img{
	width:200px;
	}
	header li.quick{
	font-family: 'ABeeZee', sans-serif;
	background-color: #2b2f3a;
	width:300px;
	height:auto;
	padding-top:2px;
	padding-bottom:2px;
	color:#fff;
	text-align:center;
	list-style-type:none;
	margin-left:-30px;
	margin-top:20px;
}
/*  Main  */
.main{
    width: 100%;
    height: 100%;
    padding-left: 340px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: #f6f6f6;
    clear: both;
}

/*  Top  */
.top{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    position: relative;
	padding-top: 8px;
	padding-bottom: 10px;
	border-bottom: 2px solid #fff;
    background-color: #96adbd;
	font-family: 'ABeeZee', sans-serif;
	font-size:	36px;
	color: #fff;
	text-shadow: -3px 0px 3px rgba(70, 70, 70, 1);
}

/*  Responsive code  */
@media (max-width:1100px){

    }

@media (max-width:550px){

	}
	
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}