@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l6ntf0');
	src:url('../fonts/icomoon.eot?#iefixl6ntf0') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?l6ntf0') format('truetype'),
		url('../fonts/icomoon.woff?l6ntf0') format('woff'),
		url('../fonts/icomoon.svg?l6ntf0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\e600";
}
.icon-user-check:before {
	content: "\e601";
}
