@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.main {
  margin-left: 20px;
  overflow: hidden;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  position: absolute;
  top: auto;
  left: 260px;
  width: calc(100vw - 300px);
  min-width: 246px;
  min-height: 638px;
}

@include media-breakpoint-down(sm) {
  .main {
    left: 34px !important;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    width: calc(100vw - 74px);
    overflow: auto;
  }
}
