

  <!--
  ~ /*
  ~  * All Application code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
  ~  *
  ~  * Please see LICENSE.txt for details.
  ~  */
  -->

  <!--- todo: i18n for date formats required here!! -->
  <div class="modal-header">
    <div layout="row">
      <span flex></span>
      <md-button class="btn-info" ng-click="getPaxDetailReport()">
        {{'btn.eventreport' | translate}}
      </md-button> &nbsp;
      <md-button  class="btn-danger"  ng-click="addToWatchlist()" ng-disabled = "!userHasRole(4) && !userHasRole(1)" >
        {{'btn.addtowatchlist' | translate}}
      </md-button>
      <md-button ng-if="isEmailEnabled()" class="btn-warning"  ng-click="answer('notify')" >
       {{'btn.notify' | translate}}
      </md-button>
      <md-button ng-if="passengerHasOpenCases()" class="btn-info" ng-click="answer('reviewed')" >
        {{'btn.setstatustoreviewed' | translate}}
      </md-button>
      <md-button ng-if="passengerHasClosedCasesAndNoOpenCases()" class="btn-info" ng-click="answer('reOpen')" >
        {{'btn.settoreopened' | translate}}
      </md-button>
      <md-button class="btn-primary" ng-click="answer('fullPax')" >
        {{'btn.loadfullpassengerdetails' | translate}}
      </md-button>
      <md-button class="btn-primary" ng-click="answer('viewed')" style="margin-right:20px;" >
        {{'btn.returntopvl' | translate}}
      </md-button>
    </div>
  </div>
<div class="modal-body">
  <div class="cbp-sidebar sidebar margin-0" ng-include="'pax/pax.detail.sidebar.html'"></div>
  <div class="cbp-sidebar-offset margin-top-1" ng-include="'pax/paxTabs.html'" style="height: 100%;"></div>
</div>