<h3 data-ng-if="stateName === 'queryPassengers'">
	<i class="glyphicon glyphicon-filter"></i>
	<i class="glyphicon glyphicon-user"></i>
	Query Results: Passengers
</h3>
<div data-ng-if="stateName === 'paxAll'" ng-include="'views/sidepanel.html'"></div>
<div data-ng-if="stateName === 'flightpax'" ng-include="'views/flightpax.html'"></div>
<!--TODO Remove #id=builder after removing dependency !-->
<div style="display:none;" id="builder"></div>
<div class="upper-cnt" ng-if="stateName != 'queryPassengers'"
     id="grid1" ui-grid="passengerGrid"
     ui-grid-pagination
     ui-grid-expandable
     ui-grid-exporter
     ui-grid-move-columns
		 ui-grid-auto-resize
		 ui-grid-resize-columns
     ng-style="getTableHeight()"
     class="grid"></div>
<div class="upper-cnt" ng-if="stateName === 'queryPassengers'"
     id="grid1" ui-grid="passengerQueryGrid"
     ui-grid-pagination
     ui-grid-expandable
     ui-grid-exporter
     ui-grid-move-columns
		 ui-grid-auto-resize
		 ui-grid-resize-columns
     ng-style="getTableHeight()"
     class="grid"></div>
<div ng-include="'views/footerbuttons.html'"></div>
