<div>
  <div class="span12 flex justify-around upper-cnt flex-wrap">
    <div>
        <div>Last Name:&nbsp; <strong>{{ passenger.lastName }}</strong></div>
        <div>First Name:&nbsp; <strong>{{ passenger.firstName }}</strong></div>
        <div>Middle Name:&nbsp; <strong>{{ passenger.middleName }}</strong></div>
    </div>
    <div>
        <div>Gender:&nbsp; <strong> {{ passenger.gender }}</strong></div>
        <div>DOB:&nbsp; <strong> {{ passenger.dob | date:"MM/dd/yyyy" }}</strong></div>
        <div>Pax Type:&nbsp; <strong> {{ passenger.passengerType }}</strong></div>
    </div>
    <div>
        <div>Origin Country:&nbsp; <strong> {{ passenger.embarkCountry }}</strong></div>
        <div>Destination Country:&nbsp; <strong> {{ passenger.debarkCountry }}</strong></div>
        <div>Citizenship:&nbsp; <strong> {{ passenger.citizenshipCountry }}</strong></div>
    </div>
  </div>
  <div class="flex justify-around">
    <button type="submit" class="btn btn-warning" ng-click="showConfirm()">
      <i class="fa fa-eye"></i> &nbsp;Add to Watchlist
    </button>
    <a class="btn btn-primary" ng-href="{{jsonData}}" download="paxDetail.json">
      <i class="fa fa-download" aria-hidden="true"></i> &nbsp;
      Pax Detail
    </a>
  </div>


  <md-button class="md-primary md-button center-btn" href="#/casemanual/{{passenger.flightId}}/{{passenger.paxId}}"
             title="Create Case in new window" target="case.manual.{{passenger.flightId}}.{{passenger.paxId}}"
             aria-label="type">
    &nbsp;Create Case</md-button>


  <section>
    <div class="panel panel-default">
      <md-tabs id="detailSection" md-stretch-tabs="always" md-dynamic-height>
        <!--Passenger Detail Tab!-->
        <md-tab label="Details">
          <div class="sm-pad">
            <div class="span12 flex justify-around flex-wrap">
              <div>
                <div>Flight:&nbsp;
                  <strong>{{passenger.carrier + passenger.flightNumber }}</strong>
                </div>
                <div>SEAT:&nbsp; <strong>{{ passenger.seat }}</strong></div>
              </div>
              <div>
                <div>Origin Airport:&nbsp; <strong>{{ passenger.flightOrigin }}</strong></div>
                <div>Destination Airport:&nbsp; <strong>{{ passenger.flightDestination }}</strong></div>
              </div>
              <div>
                <div>ETD:&nbsp; <strong>{{ passenger.flightETD | date:'yyyy-MM-dd HH:mm' }}</strong></div>
                <div>ETA:&nbsp; <strong>{{ passenger.flightETA | date:'yyyy-MM-dd HH:mm' }}</strong></div>
              </div>
            </div>
            <div class="flex justify-around flex-wrap" >
              <div class="fixed-width-md cbp-card-container gtas-card-container">
                <div class="cbp-card cbp-card-shadow">
                  <h3 class="h-label no-margin-top" >Documents</h3>
                  <div class="panel-body flex flex-vert ie-fix-md">
                    <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                      <thead>
                        <tr>
                          <th>Doc #</th>
                          <th>Type</th>
                          <th>Iss. Country</th>
                          <th>Exp. Date</th>
                        </tr>
                      </thead>
                    </table>
                    <div class="floating-table-body">
                      <table class="cbp-table-selectable mdl-js-data-table">
                        <tbody>
                          <tr ng-repeat="doc in passenger.documents">
                            <td>{{doc.documentNumber}}</td>
                            <td>{{doc.documentType}}</td>
                            <td>{{doc.issuanceCountry}}</td>
                            <td>{{doc.expirationDate}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-around flex-wrap" >
              <div class="fixed-width-md cbp-card-container gtas-card-container">
                <div class="cbp-card cbp-card-shadow">
                  <h3 class="h-label no-margin-top" >Watchlist Matches
                    <button ng-click="saveWatchListMatchByPaxId()" type="button" class="btn btn-icon-only btn-primary">
                        <i class="fa fa-inverse fa-refresh"></i>
                    </button>
                  </h3>
                  <div class="panel-body flex flex-vert ie-fix-md">
                    <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                      <thead>
                        <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>DOB</th>
                          <th>% Match</th>
                          <th>Verified</th>
                        </tr>
                      </thead>
                    </table>
                    <div class="floating-table-body">
                      <table class="cbp-table-selectable mdl-js-data-table">
                        <tbody>
                          <tr ng-repeat="watch in watchlistLinks | orderBy:'-percentMatch'">
                            <td>{{watch.watchListFirstName}}</td>
                            <td>{{watch.watchListLastName}}</td>
                            <td>{{watch.watchListDOB}}</td>
                            <td>{{watch.percentMatch}}</td>
                            <td>{{watch.verifiedStatus?"Yes":"No"}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-around flex-wrap" ng-if="ruleHits != undefined && ruleHits != null && ruleHits.length > 0">
              <div class="fixed-width-md cbp-card-container gtas-card-container">
                <div class="cbp-card cbp-card-shadow">
                  <h3 class="h-label no-margin-top" >Hits Summary</h3>
                  <div class="panel-body flex flex-vert ie-fix-md">
                    <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Conditions</th>
                        </tr>
                      </thead>
                    </table>
                    <div class="floating-table-body">
                      <table class="cbp-table-selectable mdl-js-data-table">
                        <tbody>
                          <tr ng-repeat="j in ruleHits track by $index">
                                <td>{{j.title}}</td>
                                <td>{{j.ruleConditions}}</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
        <!-- APIs Tab -->
        <md-tab label="APIs" ng-if="passenger.apisMessageVo.apisRecordExists">
          <md-tab-body>
            <div class="span12 flex justify-around flex-wrap">
              <div>
                <div>
                  Embarkation:&nbsp; <strong>{{ passenger.embarkation }}</strong>
                </div>
                <div>
                  Debarkation:&nbsp; <strong>{{ passenger.debarkation}}</strong>
                </div>
              </div>
              <div>
                <div>
                  Residence:&nbsp; <strong>{{ passenger.residencyCountry}}</strong>
                </div>
                <div>
                  Passenger Type:&nbsp; <strong>{{ passenger.passengerType}}</strong>
                </div>
              </div>
              <div>
                <div>
                  Transmission Date:&nbsp; <strong>{{passenger.apisMessageVo.transmissionDate | date:'yyyy-MM-dd hh:mm:ss'}}</strong>
                </div>

              </div>
            </div>
            <div class="flex flex-center">
              <div class="flex flex-vert ie-fix-md half-width align-items-center">
                <!--Total Bags!-->
                <div class="cbp-card-container gtas-card-container full-width five-table">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Total Baggage ({{ passenger.apisMessageVo.bagCount?passenger.apisMessageVo.bagCount:0}})
                      <span class="right fnt-small">
                        Baggage Weight ({{passenger.apisMessageVo.bagWeight}} kg)
                      </span>
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>BagID</th>
                            <th>Destination</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="bags in passenger.apisMessageVo.bags">
                              <td>{{bags.bagId}}</td>
                              <td>{{bags.destination}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-vert ie-fix-md half-width align-items-center">
                <!--Phone Numbers!-->
                <div class="cbp-card-container gtas-card-container full-width five-table">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Phone Numbers ({{ passenger.apisMessageVo.phoneNumbers.length }})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Phone Number</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="phone in passenger.apisMessageVo.phoneNumbers">
                              <td>{{phone.number}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="flex flex-vert ie-fix-md full-width align-items-center">
              <!--FlightPax!-->
              <div class="cbp-card-container gtas-card-container full-width six-table">
                <div class="cbp-card cbp-card-shadow">
                  <h3 class="h-label no-margin-top" >
                    FlightPax ({{ passenger.apisMessageVo.flightpaxs.length }})
                  </h3>
                  <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                    <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                      <thead>
                        <tr>
                          <th>First Name</th>
                          <th>Middle Name</th>
                          <th>Last Name</th>
                          <th>Pax Type</th>
                          <th>Residence</th>
                          <th>Port of Arrival</th>
                        </tr>
                      </thead>
                    </table>
                    <div class="floating-table-body">
                      <table class="cbp-table-selectable mdl-js-data-table">
                        <tbody>
                          <tr ng-repeat="flightpax in passenger.apisMessageVo.flightpaxs">
                            <td>{{flightpax.firstName}}</td>
                            <td>{{flightpax.middleName}}</td>
                            <td>{{flightpax.lastName}}</td>
                            <td>{{flightpax.passengerType}}</td>
                            <td>{{flightpax.residencyCountry}}</td>
                            <td>{{flightpax.portOfFirstArrival}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- PNR Tab -->
        <md-tab label="PNR" ng-if="passenger.pnrVo.pnrRecordExists">
          <md-tab-body>
            <div class="span12 flex justify-around flex-wrap">
              <div>
                Record Locator:&nbsp;<strong>{{passenger.pnrVo.recordLocator }}</strong>
              </div>
              <div>
                Booking Date:&nbsp; <strong>{{ passenger.pnrVo.dateBooked | date:'yyyy-MM-dd'}}</strong>
              </div>
              <div>
                <div>
                  Received:&nbsp; <strong>{{ passenger.pnrVo.dateReceived | date:'yyyy-MM-dd HH:mm' }}</strong></br>
                </div>
                <div>
                  Transmission Date:&nbsp; <strong>{{passenger.pnrVo.transmissionDate | date:'yyyy-MM-dd HH:mm'}}</strong>
                </div>
              </div>
            </div>
            <div class="flex flex-center">
              <div class="flex flex-vert ie-fix-md half-width align-items-center">
                <!--Itinerary!-->
                <div class="cbp-card-container gtas-card-container full-width six-table">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Itinerary ({{ passenger.pnrVo.flightLegs.length }})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Leg</th>
                            <th>Flight#</th>
                            <th>Origin Airport</th>
                            <th>Destination Airport</th>
                            <th>ETD</th>
                            <th>ETA</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="leg in passenger.pnrVo.flightLegs | orderBy: 'etd'" ng-click="highlightClass('TVL'+leg.originAirport)">
                              <td>{{leg.legNumber }}</td>
                              <td>
                                <a href="#/flightpax/{{leg.flightId}}/{{leg.flightNumber}}/{{leg.originAirport}}/{{leg.destinationAirport}}/{{leg.direction}}/{{leg.eta.substring(0, 10)}}/{{leg.etd.substring(0, 10);}}">
                                  {{leg.flightNumber }}
                                </a>
                              </td>
                              <td>{{leg.originAirport }}</td>
                              <td>{{leg.destinationAirport }}</td>
                              <td>{{leg.etd }}</td>
                              <td>{{leg.eta }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--PNR Names!-->
                <div class="cbp-card-container gtas-card-container full-width five-table">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      PNR Names  ({{ passenger.pnrVo.passengers.length }})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>First</th>
                            <th>Middle</th>
                            <th>Last</th>
                            <th>Gender</th>
                            <th>Age</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="pass in passenger.pnrVo.passengers" ng-click="highlightClass('SSR'+pass.firstName)">
                              <td>{{ pass.firstName }}</td>
                              <td>{{ pass.middleName }}</td>
                              <td>
                                <a href="#/paxdetail/{{pass.paxId}}/{{passenger.flightId}}">
                                  {{ pass.lastName }}
                                </a>
                              </td>
                              <td>{{ pass.gender }}</td>
                              <td>{{ pass.age }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Documents!-->
                <div class="cbp-card-container gtas-card-container full-width">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Documents ({{ passenger.pnrVo.documents.length}})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md six-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Type</th>
                            <th>Iss. Country</th>
                            <th>Number</th>
                            <th>Exp. Date</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="doc in passenger.pnrVo.documents" ng-click="highlightClass('DOCS'+doc.documentNumber)">
                              <td>{{doc.firstName}}</td>
                              <td>{{doc.lastName}}</td>
                              <td>{{doc.documentType}}</td>
                              <td>{{doc.issuanceCountry}}</td>
                              <td>{{doc.documentNumber}}</td>
                              <td>{{doc.expirationDate}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Addresses!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Addresses({{ passenger.pnrVo.addresses.length }})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md four-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th>Street</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="addr in passenger.pnrVo.addresses track by $index" ng-click="highlightClass('ADD'+addr.city)">
                              <td>{{ addr.city }}</td>
                              <td>{{ addr.state }}</td>
                              <td>{{ addr.country }}</td>
                              <td>{{ addr.line1 }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Phone Numbers!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Phone Numbers ({{ passenger.pnrVo.phoneNumbers.length }})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Phone Number</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="phn in passenger.pnrVo.phoneNumbers track by $index" ng-click="highlightClass('PHONE'+phn.number)">
                              <td>{{phn.number}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Emails!-->
                <div ng-if="passenger.pnrVo.emails.length>0"  class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Email Addresses ({{passenger.pnrVo.emails.length}})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Email Address</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="email in passenger.pnrVo.emails track by $index" ng-click="highlightClass('EMAIL'+email.address)">
                              <td>{{email.address}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Credit Cards!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Credit Cards ({{passenger.pnrVo.creditCards.length}})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md four-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Holder</th>
                            <th>Type</th>
                            <th>Number</th>
                            <th>Exp. Date</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="cc in passenger.pnrVo.creditCards track by $index" ng-click="highlightClass('FOP'+cc.number)">
                              <td>{{cc.accountHolder}}</td>
                              <td>{{cc.cardType}}</td>
                              <td>{{cc.number}}</td>
                              <td>{{cc.expiration |
                                  date:'yyyy-MM' }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Frequent Flyers!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Frequent Flyer Numbers ({{passenger.pnrVo.frequentFlyerDetails.length}})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md two-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Airline</th>
                            <th>Number</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="ff in passenger.pnrVo.frequentFlyerDetails track by $index" ng-click="highlightClass('FTI'+ff.number)">
                                <td>{{ff.carrier}}</td>
                                <td>{{ff.number}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-vert ie-fix-md half-width align-items-center">
                <!--RawPNR!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Raw PNR
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-lg">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="i in passenger.pnrVo.segmentList track by $index">
                                <td ng-class="i.key">{{ $index+1 }} .&nbsp;&nbsp;&nbsp; {{ i.value }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Seat Information!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Seat Information
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md four-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Last name</th>
                            <th>First Name</th>
                            <th>Flight#</th>
                            <th>Seat#</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="sa in passenger.pnrVo.seatAssignments" ng-click="highlightClass('SEAT'+sa.number)">
                                <td>{{ sa.lastName }}</td>
                                <td>{{ sa.firstName }}</td>
                                <td>{{ sa.flightNumber }}</td>
                                <td>{{ sa.number }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Travel Agencies!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Agencies ({{ passenger.pnrVo.agencies.length}})
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md six-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>City</th>
                            <th>ID</th>
                            <th>Location</th>
                            <th>Name</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="agency in passenger.pnrVo.agencies" ng-click="highlightClass('AGEN'+agency.identifier)">
                              <td>{{agency.type}}</td>
                              <td>{{agency.city}}</td>
                              <td>{{agency.identifier}}</td>
                              <td>{{agency.location}}</td>
                              <td>{{agency.name}}</td>
                              <td>{{agency.phone}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Baggage!-->
                <div class="cbp-card-container gtas-card-container full-width ">
                  <div class="cbp-card cbp-card-shadow">
                    <h3 class="h-label no-margin-top" >
                      Total Baggage ({{passenger.pnrVo.totalbagCount?passenger.pnrVo.totalbagCount:0}})
                      <span class="right fnt-small">Excess Baggage ({{passenger.pnrVo.bagCount}})
                      Total Weight kg ({{passenger.pnrVo.baggageWeight}})
                      </span>
                    </h3>
                    <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md two-table">
                      <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                        <thead>
                          <tr>
                            <th>Bag ID</th>
                            <th>Destination</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="floating-table-body">
                        <table class="cbp-table-selectable mdl-js-data-table">
                          <tbody>
                            <tr ng-repeat="bag in passenger.pnrVo.bags" ng-click="highlightClass('TBD'+bag.bagId)">
                              <td>{{bag.bagId}}</td>
                              <td>{{bag.destination}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- Flight History Tab -->
        <md-tab label="Loading Flight History..." ng-disabled="isLoadingFlightHistory" ng-if="isLoadingFlightHistory">
        </md-tab>
        <md-tab label="{{ 'pass.flt.history' | translate}}" ng-if="!isLoadingFlightHistory">
          <md-tab-body>
            <!--Current Itinerary!-->
            <div class="cbp-card-container gtas-card-container md-pad full-width ">
              <div class="cbp-card cbp-card-shadow">
                <h3 class="h-label no-margin-top" >
                  Current Itinerary:
                </h3>
                <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md seven-table">
                  <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                    <thead>
                      <tr>
                        <th>Carrier/Flight</th>
                        <th>ETA</th>
                        <th>ETD</th>
                        <th>Origin Country</th>
                        <th>Origin Airport</th>
                        <th>Destination Country</th>
                        <th>Destination Airport</th>
                      </tr>
                    </thead>
                  </table>
                  <div class="floating-table-body">
                    <table class="cbp-table-selectable mdl-js-data-table">
                      <tbody>
                        <tr ng-repeat="j in passenger.flightHistoryVo | orderBy:'-etd'">
                            <td>{{j.fullFlightNumber}}</td>
                            <td>{{j.eta | date:'MM/dd/yyyy HH:mm'}}</td>
                            <td>{{j.etd | date:'MM/dd/yyyy HH:mm'}}</td>
                            <td>{{j.originCountry}}</td>
                            <td>{{j.origin}}</td>
                            <td>{{j.destinationCountry}}</td>
                            <td>{{j.destination}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--Seat Information!-->
            <div class="cbp-card-container gtas-card-container md-pad full-width ">
              <div class="cbp-card cbp-card-shadow" ng-repeat-start="flight in passenger.fullFlightHistoryVo">
                <h3 class="h-label no-margin-top" >
                  Total Flight History
                </h3>
                <div class="no-pad-top no-pad-btm panel-body flex flex-vert ie-fix-md seven-table">
                  <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
                    <thead>
                      <tr>
                        <th>Carrier/Flight</th>
                        <th>ETA</th>
                        <th>ETD</th>
                        <th>Origin Country</th>
                        <th>Origin Airport</th>
                        <th>Destination Country</th>
                        <th>Destination Airport</th>
                      </tr>
                    </thead>
                  </table>
                  <div class="floating-table-body">
                    <table class="cbp-table-selectable mdl-js-data-table">
                      <tbody>
                        <tr ng-repeat="k in flight | orderBy:'-etd'">
                            <td>{{k.fullFlightNumber}}</td>
                            <td>{{k.eta | date:'MM/dd/yyyy HH:mm'}}</td>
                            <td>{{k.etd | date:'MM/dd/yyyy HH:mm'}}</td>
                            <td>{{k.originCountry}}</td>
                            <td>{{k.origin}}</td>
                            <td>{{k.destinationCountry}}</td>
                            <td>{{k.destination}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <span ng-repeat-end></span>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </section>
</div>
