@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$hover-color: rgb(177, 172, 172);
$gtas-primary-color: #075484;
$navbar-text-color: #fff;

.header-navbar {
  padding: 0.25rem 1rem !important;
  background-color: $gtas-primary-color;
  border-bottom: 3px solid #1972ad;
}
.header-navbar-brand {
  min-width: 200px;
  align-self: baseline;
  text-align: center;
}

.header-navbar-brand a {
  color: $navbar-text-color;
  font-size: xx-large;
  font-feature-settings: "pcap", "pcap";
  font-variant: petite-caps;
  font-weight: 500;
}

.header-navbar-brand a:hover {
  color: $hover-color;
}

.header-navbar .nav-tabs {
  border-bottom: none;
}

.header-navbar .nav-tabs .active-tab {
  background-color: rgb(23, 99, 161);
  border-color: transparent;
  border-bottom: 1px solid #dee2e6;
}

.header-navbar .navbar-nav a.nav-link {
  color: $navbar-text-color;
}

.header-navbar .navbar-nav a.nav-link:hover {
  color: $hover-color;
  border-color: transparent;
  border-bottom: 1px solid #dee2e6;
}

.header-navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.9) !important;
  border-color: rgba(255, 255, 255, 0.9) !important;
  position: absolute;
  right: 20px;
  top: 8px;
  z-index: 100;
}

.header-navbar .navbar-toggler-icon {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-search {
  // The search form on the nav bar needs more thought
  //on when we are going to use it and on what size of
  //screen we should display it.
  //Once we decide, we can display it.
  display: none !important;
}

//media query for small devices and down(bootstrap's way)
@include media-breakpoint-down(sm) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-collapse {
    position: absolute;
    background-color: $gtas-primary-color;
    right: 20px;
    top: 50px;
    width: 180px !important;
    padding: 5px;
    border-radius: 3px;
    padding-bottom: 10px;
  }
  .nav-link {
    padding-bottom: 5px;
  }
  .nav-tabs {
    margin-right: 15px;
  }
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:focus {
  color: #16181b;
  background-color: rgba(0, 0, 0, 0.075);
}
