<style>
    .grid .ui-grid-row .red {
        color: red;
        font-weight: bold;
    }

    form [disabled],
    form [disabled] span {
        color: #000 !important;
    }

    .md-button {
        min-width: 30px
    }

    .md-virtual-repeat-container {
        overflow: auto;
        width: 25em;
    }

    .md-virtual-repeat-container .md-virtual-repeat-scroller {
        overflow: auto;
        width: 25em;
    }

    .md-contact-suggestion {
        min-width: 25em;
    }

    .md-contact-suggestion span.md-contact-email {
        overflow: visible !important;
    }

    .md-contact-suggestion .md-contact-name {
        display: none !important;
    }

    .md-padding {
        padding: 1em 0 0 0;
    }

    .md-padding:first-child {
        padding: 1em 0 0 1em;
    }

    .filter-form {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (doesn't work very well) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .filter-form label {
        margin-bottom: 0;
    }

    .destination label,
    .origin label {
        margin-bottom: 1px;
    }

    .origin {
        -webkit-box-ordinal-group: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 1; /* OLD - Firefox 19- */
        -ms-flex-order: 1; /* TWEENER - IE 10 */
        -webkit-order: 1; /* NEW - Chrome */
        order: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 20em;
        max-width: 40%;
        width: 20%;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    .destination {
        -webkit-box-ordinal-group: 2; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 2; /* OLD - Firefox 19- */
        -ms-flex-order: 2; /* TWEENER - IE 10 */
        -webkit-order: 2; /* NEW - Chrome */
        order: 2; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 20em;
        max-width: 40%;
        width: 20%;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    .flight {
        -webkit-box-ordinal-group: 3; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 3; /* OLD - Firefox 19- */
        -ms-flex-order: 3; /* TWEENER - IE 10 */
        -webkit-order: 3; /* NEW - Chrome */
        order: 3; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 5em;
        max-width: 5em;
        width: 5em;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* Firefox 19- */
        -ms-flex: 1; /* TWEENER - IE 10 */
        -webkit-flex: 1; /* NEW - Chrome */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    .direction {
        -webkit-box-ordinal-group: 4; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 4; /* OLD - Firefox 19- */
        -ms-flex-order: 4; /* TWEENER - IE 10 */
        -webkit-order: 4; /* NEW - Chrome */
        order: 4; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 6em;
        max-width: 8em;
        width: 10%;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* Firefox 19- */
        -ms-flex: 1; /* TWEENER - IE 10 */
        -webkit-flex: 1; /* NEW - Chrome */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    .start-date {
        -webkit-box-ordinal-group: 5; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 5; /* OLD - Firefox 19- */
        -ms-flex-order: 5; /* TWEENER - IE 10 */
        -webkit-order: 5; /* NEW - Chrome */
        order: 5; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 12em;
        max-width: 12em;
        width: 20%;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* Firefox 19- */
        -ms-flex: 1; /* TWEENER - IE 10 */
        -webkit-flex: 1; /* NEW - Chrome */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    .end-date {
        -webkit-box-ordinal-group: 6; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 6; /* OLD - Firefox 19- */
        -ms-flex-order: 6; /* TWEENER - IE 10 */
        -webkit-order: 6; /* NEW - Chrome */
        order: 6; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 12em;
        max-width: 12em;
        width: 20%;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* Firefox 19- */
        -ms-flex: 1; /* TWEENER - IE 10 */
        -webkit-flex: 1; /* NEW - Chrome */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    .start-date label,
    .end-date label {
        display: block;
        text-align: center;
        padding-bottom: 1em;
    }

    .md-button.md-icon-button {
        width: 32px;
        margin: 0;
        padding: 0;
    }

    .actions {
        -webkit-box-ordinal-group: 7; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 7; /* OLD - Firefox 19- */
        -ms-flex-order: 7; /* TWEENER - IE 10 */
        -webkit-order: 7; /* NEW - Chrome */
        order: 7; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        min-width: 4em;
        max-width: 4em;
        width: 4em;

        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* Firefox 19- */
        -ms-flex: 1; /* TWEENER - IE 10 */
        -webkit-flex: 1; /* NEW - Chrome */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
</style>

<form ng-submit="filter()" class="chipsdemoContactChips filter-form">
    <md-content class="md-padding autocomplete origin" layout="column">
        <label>{{'flight.origin' | translate}}</label>
        <md-contact-chips ng-model="model.origin" md-contacts="flights.querySearch($query)" md-contact-name="id"
                          md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                          filter-selected="flights.filterSelected">
        </md-contact-chips>
    </md-content>
    <md-content class="md-padding autocomplete destination" layout="column">
        <label>{{'flight.destination' | translate}}</label>
        <md-contact-chips ng-model="model.dest" md-contacts="flights.querySearch($query)" md-contact-name="id"
                          md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                          filter-selected="flights.filterSelected">
        </md-contact-chips>
    </md-content>
    <div class="flight md-padding">
        <label for="flightNumber">{{'flight.flight' | translate}}</label>
        <md-input-container>
            <input  style="height:30px" id="flightNumber" ng-model="model.flightNumber">
        </md-input-container>
    </div>
    <div class="direction md-padding">
        <label for="direction">{{'flight.direction' | translate}}</label>
        <md-input-container>
            <md-select id="direction" ng-model="model.direction">
                <md-option ng-repeat="item in flightDirections" value="{{item.value}}">
                    <p translate> {{item.label}}</p>
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="start-date md-padding">
        <label for="startDate">{{'flight.startdate' | translate}}</label>
        <md-datepicker id="startDate" ng-model="model.etaStart" md-placeholder="Start Date"></md-datepicker>
    </div>
    <div class="end-date md-padding">
        <label for="endDate">{{'flight.enddate' | translate}}</label>
        <md-datepicker id="endDate" ng-model="model.etaEnd" md-placeholder="End Date"></md-datepicker>
    </div>
    <div class="actions">
        <md-button class="md-primary" aria-label="reset" ng-click="reset()" type="button">
            <md-tooltip>{{'flight.reset' | translate}}</md-tooltip>
            <!--<i class="glyphicon glyphicon-remove-sign"></i>-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                <path d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2z"></path>
                <path d="M12 3c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"></path>
            </svg>
            <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path></svg>-->
        </md-button>
        <md-button class="md-primary" type="submit">
            <md-tooltip>{{'flight.filter' | translate}}</md-tooltip>
            <!--<i class="glyphicon glyphicon-filter"></i>-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                <path d="M10 18h4v-2h-4v2z"></path>
                <path d="M3 6v2h18V6H3z"></path>
                <path d="M6 13h12v-2H6v2z"></path>
            </svg>
        </md-button>
    </div>
</form>

<div layout="row"
     ui-grid="flightsGrid"
     ui-grid-pagination
     ui-grid-auto-resize
     ui-grid-exporter
     ng-style="getTableHeight()"
     class="grid"></div>

<md-button ng-click="export('csv')" class="md-raised pull-right" type="button">
    <i class="glyphicon glyphicon-export"></i> CSV
</md-button>
<md-button ng-click="export('pdf')" class="md-raised pull-right" type="button">
    <i class="glyphicon glyphicon-save-file"></i> PDF
</md-button>
