<h3 class="block-label upper-cnt">Query Results: Flights</h3>
<div ng-if="stateName != 'queryFlights'"
        ui-grid="flightsGrid"
        ui-grid-pagination
        ui-grid-auto-resize
        ui-grid-expandable
        ui-grid-exporter
        ui-grid-move-columns
        ng-style="getTableHeight()"
        class="grid"></div>
<div ng-if="stateName === 'queryFlights'"
        ui-grid="flightsQueryGrid"
        ui-grid-pagination
        ui-grid-auto-resize
        ui-grid-expandable
        ui-grid-exporter
        ui-grid-move-columns
        ng-style="getTableHeight()"
        class="grid"></div>
<div ng-include="'views/footerbuttons.html'"></div>
