<style>
    .grid .ui-grid-row .red {
        color: red;
        font-weight: bold;
    }
    h3 {
        font-size: 1.5em;
        margin: .5em;
    }
</style>
<h3><i class="glyphicon glyphicon-filter"></i><i class="glyphicon glyphicon-plane"></i> {{'qry.flightstitle' | translate}}</h3>
<div ng-if="stateName != 'queryFlights'"
        ui-grid="flightsGrid"
        ui-grid-pagination
        ui-grid-auto-resize
        ui-grid-expandable
        ui-grid-exporter
        ng-style="getTableHeight()"
        class="grid"></div>
        
<div ng-if="stateName === 'queryFlights'"
        ui-grid="flightsQueryGrid"
        ui-grid-pagination
        ui-grid-auto-resize
        ui-grid-expandable
        ui-grid-exporter
        ng-style="getTableHeight()"
        class="grid"></div>
<md-button ng-click="export('csv')" class="md-raised pull-right" type="button">
    <i class="glyphicon glyphicon-export"></i> CSV
</md-button>