<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  
       This is the logback logger configuration file.
       To use logback use the SLF4J logging facade for logging.
       (it will pick up the logback jar from classpath.)
       Logback will pick up only one configuration file from the classpath.
       Therefore all configuration should be in this file.
    -->
    <property name="OVERRIDE_GTAS_LOG_LEVEL" value="INFO"/>   
    <property name="OVERRIDE_ROOT_LOG_LEVEL" value="INFO"/>   
    <include resource="gtas_logback.xml"/>
</configuration>
