[Unit]
Description=Neo4j Scheduler
After=syslog.target 


[Service]

Environment=JAVA_HOME=/usr/java/jre1.8.0_192-amd64
WorkingDirectory= /gtas-neo4j-etl

ExecStart=/gtas-neo4j-etl/gtas-neo4j-job-scheduler-1.jar
SuccessExitStatus=143
User=ec2-user
Restart=always

[Install]
WantedBy=multi-user.target
