[Unit]
Description=Neo4j Systemd Service
After=syslog.target network.target


[Service]
Type=forking

Environment=JAVA_HOME=/usr/java/jre1.8.0_192-amd64
Environment=NEO4J_HOME=/opt/neo4j-community-3.5.3

ExecStart=/opt/neo4j-community-3.5.3/bin/neo4j start
ExecStop=/opt/neo4j-community-3.5.3/bin/neo4j stop
User=ec2-user
Restart=always

[Install]
WantedBy=multi-user.target
