<style>
    .bullet { font: 10px sans-serif; }
    .bullet .marker { stroke: #000; stroke-width: 2px; }
    .bullet .tick line { stroke: #666; stroke-width: .5px; }
    .bullet .range.s0 { fill: #eee; }
    .bullet .range.s1 { fill: #ddd; }
    .bullet .range.s2flight { fill: #ccc; }
    .bullet .measure.s0 { fill: lightsteelblue; }
    .bullet .measure.s1 { fill: steelblue; }
    .bullet .title { font-size: 14px; font-weight: bold; }
    .bullet .subtitle { fill: #999; }
    <!-- .bullet{font:10px sans-serif}.bullet .marker{stroke:#000;stroke-width:2px}.bullet .tick line{stroke:#666;stroke-width:.5px}.bullet .range.s0{fill:#eee}.bullet .range.s1{fill:#ddd}.bullet .range.s2{fill:#ccc}.bullet .measure.s0{fill:#b0c4de}.bullet .measure.s1{fill:#4682b4}.bullet .title{font-size:14px;font-weight:700}.bullet .subtitle{fill:#999} -->
    .axis path,.axis line{fill:none;stroke:#000;shape-rendering:crispEdges}.bar{fill:steelblue}.x.axis path{display:none}

</style>

<body>

<div class="column" style="padding-top: 90px;"></div>

<!-- Begin Flight Stats-->


<div class="container-fluid">
    <div class="column">

        <div class="row">
            <div class="panel panel-default col-lg-11" style="padding-left: 0;padding-right:0; margin-left: 2.9%;">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    <span data-col="col-sm-offset-2"><label style="font-weight: bold;">
                        {{'db.flightStats' | translate}}
                    </label></span>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-2 col-md-5 col-md-offset-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-plane fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{numberOfFlights}}</div>
                                            <div>{{'db.totalFlights' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#/flights">
                                    <div class="panel-footer">
                                        <span class="pull-left">{{'db.viewDetails' | translate}}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{numberOfPassengers}}</div>
                                            <div>{{'db.totalPassengers' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#/passengers">
                                    <div class="panel-footer">
                                        <span class="pull-left">{{'db.viewDetails' | translate}}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!--<div class="column"></div>-->
                        <div class="col-lg-2 col-md-5">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-flag-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{numberOfRuleHits}}</div>
                                            <div>{{'db.ruleHits' | translate}} (H)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#/flights">
                                    <div class="panel-footer">
                                        <span class="pull-left">{{'db.viewDetails' | translate}}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-5">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-eye fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{numberOfWatchListHits}}</div>
                                            <div>{{'db.watchHits' | translate}} (L)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#/flights">
                                    <div class="panel-footer">
                                        <span class="pull-left">{{'db.viewDetails' | translate}}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<!-- End of Flight Stats-->


<div class="container-fluid">
    <div class="column">
        <div class="row">
            <div class="panel panel-default col-lg-11" style="padding-left: 0;padding-right:0; margin-left: 2.9%;">
                <div class="panel-heading">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    <span data-col="col-sm-offset-2">
                        <label style="font-weight: bold;">
                       Flights (ETA Next 72 hrs)
                        </label>
                    </span>

                    </div>
                <div class="panel-body">
                    <div>
                        <my-elem ></my-elem>
                    </div>
                    <!--<div id="chartdiv"></div>-->

                    <!--<canvas id="base" class="chart-bar"-->
                            <!--chart-data="data" chart-labels="labels"-->
                            <!--chart-colors="colors"-->
                            <!--chart-dataset-override="datasetOverride">-->
                    <!--</canvas>-->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="column" style="padding-top: 90px;"></div>

<div class="container-fluid">
    <div class="column">

        <div class="panel panel-default col-lg-6" style="padding-left: 0;padding-right:0; margin-left: 2.3%;">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                <span data-col="col-sm-offset-2"><label style="font-weight: bold;"> {{'db.topRuleHits' | translate}} </label></span>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{{'db.ruleName' | translate}}</th>
                                <th>{{'db.hits' | translate}}</th>
                                <th>{{'db.createdOn' | translate}}</th>
                                <th>{{'db.createdBy' | translate}}</th>
                                <th>{{'db.lastOn' | translate}}</th>
                                <th>{{'db.lastBy' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="rec in rulesList">
                                <td>{{rec.ruleName}}</td>
                                <td>{{rec.ruleHits}}</td>
                                <td>{{rec.createdOn}}</td>
                                <td>{{rec.createdBy}}</td>
                                <td>{{rec.lastEditedOn}}</td>
                                <td>{{rec.lastUpdatedBy}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->

                </div>

                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>


        <div class="panel panel-default col-md-5" style="padding-left: 0;padding-right:0; margin-left: 2%;">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                <span data-col="col-sm-offset-2"><label style="font-weight: bold;"> {{'db.ytd' | translate}} </label></span>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{{'db.airport' | translate}}</th>
                                <th>{{'db.flights' | translate}}</th>
                                <th>{{'db.watchLists' | translate}}</th>
                                <th>{{'db.ruleHits' | translate}}</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="rec in airportStats">
                                <td>{{rec.airport}}</td>
                                <td>{{rec.flights}}</td>
                                <td>{{rec.watchListHits}}</td>
                                <td>{{rec.ruleHits}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->

                </div>

                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
</div>

</body>

