<body>
  <div class="upper-cnt panel">
    <!--Information Cards -->
    <div class="container">
      <h3 class="h-label">Next 72 hrs</h3>
      <div class="flex flex-center flex-wrap cbp-card-container gtas-card-container">
        <div class="primary-outline cbp-card cbp-card-shadow fixed-width-sm">
          <div class="cbp-card__title">
            <h3 class="cbp-card__title-text txt-color">Flights</h3>
          </div>
          <div class="flex justify-around align-items-center">
            <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
            <div>
              <div class="txt-color sm-pad txt-right">
                Inbound: {{numberOfFlightsInbound}}
              </div>
              <div class="txt-color sm-pad txt-right">
                Outbound: {{numberOfFlightsOutbound}}
              </div>
            </div>
          </div>
        </div>
        <div class="success-outline cbp-card cbp-card-shadow fixed-width-sm">
          <div class="cbp-card__title">
            <h3 class="cbp-card__title-text txt-color">Passengers</h3>
          </div>
          <div class="flex justify-around align-items-center">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
            <div>
              <div class="txt-color sm-pad txt-right">
                Inbound: {{numberOfPassengersInbound}}
              </div>
              <div class="txt-color sm-pad txt-right">
                Outbound: {{numberOfPassengersOutbound}}
              </div>
            </div>
          </div>
        </div>
        <div class="danger-outline cbp-card cbp-card-shadow fixed-width-sm">
         <div class="cbp-card__title">
            <h3 class="cbp-card__title-text txt-color">Rule Hits</h3>
          </div>
          <div class="flex justify-around align-items-center">
            <i class="fa fa-flag fa-3x" aria-hidden="true"></i>
            <div>
              <div class="txt-color sm-pad txt-right">
                Inbound: {{numberOfRuleHitsInbound}}
              </div>
              <div class="txt-color sm-pad txt-right">
                Outbound: {{numberOfRuleHitsOutbound}}
              </div>
            </div>
          </div>
        </div>
        <div class="warning-outline cbp-card cbp-card-shadow fixed-width-sm">
         <div class="cbp-card__title">
            <h3 class="cbp-card__title-text txt-color">Watchlist Hits</h3>
          </div>
          <div class="flex justify-around align-items-center">
            <i class="fa fa-eye fa-3x" aria-hidden="true"></i>
            <div>
              <div class="txt-color sm-pad txt-right">
                Inbound: {{numberOfWatchListHitsInbound}}
              </div>
              <div class="txt-color sm-pad txt-right">
                Outbound: {{numberOfWatchListHitsOutbound}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Flight Map Card-->
    <div class="container">
      <div class="cbp-card-container gtas-card-container">
        <div class="cbp-card cbp-card-shadow">
          <div class="panel-body">
            <my-elem ></my-elem>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Table panels -->
  <div class="panel">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
            <thead>
              <tr>
                <th scope="col" class="non-numeric">{{'db.ruleName' | translate}}</th>
                <th scope="col" class="non-numeric">{{'db.hits' | translate}}</th>
                <th scope="col" class="non-numeric">{{'db.createdOn' | translate}}</th>
              </tr>
            </thead>
          </table>
          <div class="floating-table-body" style="max-height: 200px;">
            <table class="cbp-table-selectable mdl-js-data-table">
              <tbody>
                <tr ng-repeat="rec in rulesList">
                    <th scope="row" class="non-numeric">{{rec.ruleName}}</th>
                    <td>{{rec.ruleHits}}</td>
                    <td>{{rec.createdOn}}</td>
                    <td>{{rec.createdBy}}</td>
                    <td>{{rec.lastEditedOn}}</td>
                    <td>{{rec.lastUpdatedBy}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
            <thead>
              <tr>
                <th>{{'db.airport' | translate}}</th>
                <th>{{'db.flights' | translate}}</th>
                <th>{{'db.watchLists' | translate}}</th>
                <th>{{'db.ruleHits' | translate}}</th>
              </tr>
            </thead>
          </table>
          <div class="floating-table-body" style="max-height: 200px;">
            <table class="cbp-table-selectable mdl-js-data-table">
              <tbody>
                <tr ng-repeat="rec in airportStats">
                  <td>{{rec.airport}}</td>
                  <td>{{rec.flights}}</td>
                  <td>{{rec.watchListHits}}</td>
                  <td>{{rec.ruleHits}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
