<body style="height: 100%;">
  <div class="upper-cnt panel" style="height: 100%;">
    <!--Information Cards -->
   
    <!--Flight Map Card-->
    <div class="container-fluid" style="height: 100%;">
      <div class="cbp-card-container gtas-card-container" style="height: 100%;">
        <div class="cbp-card cbp-card-shadow" style="height: 100%;">
          <div class="panel-body" style="height: 100%;">
            <!-- <my-elem ></my-elem> -->
          
<iframe src="http://localhost:5601/app/kibana#/dashboard/7cfbbdc0-2e13-11e9-81a3-0f5bd8b0a7ac?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-3d%2Fd%2Cmode%3Arelative%2Cto%3Anow%2B3d%2Fd))" height="100%" width="100%" frameBorder="0"></iframe>                    
</div>
        </div>
      </div>
    </div>
  </div>
  <!--Table panels -->
  <div class="panel">
    <div class="container">
      <div class="flex flex-center flex-wrap">
        <div ng-if="rulesList.length>0" class="fixed-width-md sm-pad ">
          <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
            <thead>
              <tr>
                <th scope="col" class="non-numeric">Rule Name</th>
                <th scope="col" class="non-numeric">Hits</th>
                <th scope="col" class="non-numeric">Created On</th>
              </tr>
            </thead>
          </table>
          <div class="floating-table-body" style="max-height: 200px;">
            <table class="cbp-table-selectable mdl-js-data-table">
              <tbody>
                <tr ng-repeat="rec in rulesList">
                    <th scope="row" class="non-numeric">{{rec.ruleName}}</th>
                    <td>{{rec.ruleHits}}</td>
                    <td>{{rec.createdOn}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-if="airportStats.length>0" class="fixed-width-md sm-pad">
          <table aria-hidden="true" class="cbp-table mdl-js-data-table floating-table-header">
            <thead>
              <tr>
                <th>Airport</th>
                <th>Flights</th>
                <th>Watch Lists</th>
                <th>Rule Hits</th>
              </tr>
            </thead>
          </table>
          <div class="floating-table-body" style="max-height: 200px;">
            <table class="cbp-table-selectable mdl-js-data-table">
              <tbody>
                <tr ng-repeat="rec in airportStats">
                  <td>{{rec.airport}}</td>
                  <td>{{rec.flights}}</td>
                  <td>{{rec.watchListHits}}</td>
                  <td>{{rec.ruleHits}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
