div.available {
	background-color: silver;
}

/* div.seatCharts-seat.available {
	background-color: silver;
} */

div.seatCharts-seat.unavailable {
	background-color: #002841;
	cursor: not-allowed;
}

div.seatCharts-seat.cotravelers {
	background-color: #FF8C00;
}

div.seatCharts-seat.hits {
	border: solid red 3px;
}

div.seatCharts-cell {

	max-height: 26px;
	max-width: 26px;
	min-height: 22px;
	min-width: 22px;
	margin: 3px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 10px;
	line-height:16px;
	color: blue;

}

div.seatCharts-seat {
	background-color: green;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
}

div.seatCharts-row {
	height: 32px;
}