/* .flight-filter-nav{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.5em 0.5em -0.125em rgba(10,10,10,0.5), 0 0 0 1px rgba(10,10,10,.02);
    color: #000000;
    display: block;
    padding: 1.25rem;
    position: sticky;

} */
.flight-body-box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.5em 0.5em -0.125em rgba(10, 10, 10, 0.5),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #000000;
  display: block;
  padding: 1.25rem;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.filter-side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: auto;
  background-color: #f7f7f7;
  border-right: 1px solid #ececec;
  padding: 1.5rem;
  box-shadow: 0 0.5em 0.5em -0.125em rgba(10, 10, 10, 0.5),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 10px;
}
@media (min-width: 1400px) {
  .row .col-lg-3 {
    flex: 0 0 16%;
    max-width: 16%;
  }
}
@media (min-width: 1400px) {
  .row .col-lg-9 {
    flex: 0 0 84%;
    max-width: 84%;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .row .col-lg-3 {
    flex: 0 0 22%;
    max-width: 22%;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .row .col-lg-9 {
    flex: 0 0 78%;
    max-width: 78%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .row .col-md-9 {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .row .col-md-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
