<style>

section {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
}
.selectize-control {
    margin-left: 8em;
}
.selectize-input input {
    width: 264px !important;
}

    .md-contact-suggestion {
        min-width: 25em;
    }

    .md-contact-suggestion span.md-contact-email {
        overflow: visible !important;
    }

    .md-contact-suggestion .md-contact-name {
        display: none !important;
    }


     .filter-form {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (doesn't work very well) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        overflow-x: hidden;
        overflow-y: hidden;
    }

</style>


<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Change Password" >
            <md-content class="md-padding">
               <form name="userSettings" style="padding-top: 2px;">
                <div class="alert alert-danger" ng-show="error">
                    <button class="close" data-dismiss="alert">x</button>
                    <strong>Error!</strong> An error occured while trying to send message.
                </div>
                <div class="alert alert-success" ng-show="success">
                    <button class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong> {{successMessage}}
                </div>
                <section layout="row" layout-padding layout-margin layout-align="space-around center" style="padding-bottom: 2px;">

                    <md-input-container style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label>First name</label>
                        <input ng-model="userCredentials.firstName" >
                    </md-input-container>
                    <md-input-container  style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label>Last Name</label>
                        <input ng-model="userCredentials.lastName">
                    </md-input-container>
                    <md-input-container style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label><strong>New Password</strong></label>
                        <input ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{10,20}$/" ng-focus="displayPasswordRules()" ng-blur="hideToast()" ng-model="userCredentials.newUserPassword" type="password" name="newUserPassword" >
                    </md-input-container>
                    <md-input-container style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label><strong>Confirm Password</strong></label>
                        <input ng-model="userCredentials.confirmUserPassword" type="password" name="confirmUserPassword" compare-to="userCredentials.newUserPassword" >
                        <div ng-messages="userSettings.confirmUserPassword.$error">
                            <div ng-messages-include="userSettings/messages.html"></div>
                        </div>
                    </md-input-container>
                    <div class="actions">
                        <md-button class="md-raised md-primary" ng-click="updateCredentials()" ng-disabled="userSettings.$invalid || (userCredentials.newUserPassword==null) || (userCredentials.confirmUserPassword==null) || (userCredentials.newUserPassword=='') || (userCredentials.confirmUserPassword=='')">Update</md-button>
                    </div>
                </section>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
