<style>

section {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
}
.selectize-control {
    margin-left: 8em;
}
.selectize-input input {
    width: 264px !important;
}

    .md-contact-suggestion {
        min-width: 25em;
    }

    .md-contact-suggestion span.md-contact-email {
        overflow: visible !important;
    }

    .md-contact-suggestion .md-contact-name {
        display: none !important;
    }


     .filter-form {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (doesn't work very well) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        overflow-x: hidden;
        overflow-y: hidden;
    }

</style>


<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{'user.cpwd' | translate}}" >
            <md-content class="md-padding">
               <form name="userSettings" style="padding-top: 2px;">
                <div class="alert alert-danger" ng-show="error">
                    <button class="close" data-dismiss="alert">x</button>
                    <strong>Error!</strong> An error occured while trying to send message.
                </div>
                <div class="alert alert-success" ng-show="success">
                    <button class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong> {{successMessage}}
                </div>
                <section layout="row" layout-padding layout-margin layout-align="space-around center" style="padding-bottom: 2px;">

                    <md-input-container style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label>{{'user.firstname' | translate}}</label>
                        <input ng-model="userCredentials.firstName">
                    </md-input-container>
                    <md-input-container  style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label>{{'user.lastname' | translate}}</label>
                        <input ng-model="userCredentials.lastName">
                    </md-input-container>
                    <md-input-container style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label>{{'user.newpassword' | translate}}</label>
                        <input ng-model="userCredentials.newPassword" type="password" name="newPassword" >
                    </md-input-container>
                    <md-input-container style="padding-top: 0.5px; padding-bottom: 0.5px;">
                        <label>{{'user.confirmpassword' | translate}}</label>
                        <input ng-model="userCredentials.confirmPassword" type="password" name="confirmPassword" compare-to="userCredentials.newPassword" >
                        <div ng-messages="userSettings.confirmPassword.$error">
                            <div ng-messages-include="userSettings/messages.html"></div>
                        </div>
                    </md-input-container>
                    <div class="actions">
                        <md-button class="md-raised md-primary" ng-click="updateCredentials()" ng-disabled="userSettings.$invalid || ! userCredentials.firstName || ! userCredentials.lastName">{{'btn.update' | translate}}</md-button>
                    </div>
                </section>
                </form>
            </md-content>
        </md-tab>


        <md-tab label="{{'flight.filter' | translate}}"> <!-- ng-click="setFilter()"-->
            <div id="filterForm"></div>
            <md-content class="md-padding">

                <form  name="filterForm"  ng-submit="setFilter()">
                    <section layout-padding layout-margin>
                        <div layout="column"  layout-align="space-around start">

                        <md-content class="md-padding autocomplete origin" layout="column">
                            <label>{{'flight.origin' | translate}}</label>
                            <md-contact-chips ng-model="origins" md-contacts="querySearch($query)" md-contact-name="id"
                                              md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                                              filter-selected="filterSelected">
                            </md-contact-chips>
                        </md-content>
                         <md-content class="md-padding autocomplete destination" layout="column">
                            <label>{{'flight.destination' | translate}}</label>
                            <md-contact-chips ng-model="destinations" md-contacts="querySearch($query)" md-contact-name="id"
                                              md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                                              filter-selected="filterSelected">
                            </md-contact-chips>
                        </md-content>
                        </div>
                        <div layout="row" layout-align="space-around start">
                            <md-input-container >
                                <span flex="80"></span>
                                <label>{{'flight.direction' | translate}}</label>
                                <md-select ng-model="filter.flightDirection">
                                    <md-option ng-repeat="item in flightDirections" value="{{item.value}}">
                                        {{item.label}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container >
                                <label>{{'pass.eta' | translate}} {{'flight.startdate' | translate}} </label>
                                <md-select ng-model="filter.etaStart">
                                    <md-option ng-repeat="item in etaStartDays" value="{{item.value}}">
                                        {{item.label}}
                                    </md-option>
                                </md-select>
                            </md-input-container >
                            <md-input-container >
                                <label>{{'pass.eta' | translate}} {{'flight.enddate' | translate}}</label>
                                <md-select ng-model="filter.etaEnd">
                                    <md-option ng-repeat="item in etaEndDays" value="{{item.value}}">
                                        {{item.label}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        </md-input-container>
                        <div class="md-actions" layout="row" layout-align="end end;">
                            <span flex="100"></span>
                                <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">{{'qry.save' | translate}}</md-button>
                        </div>
                    </section>
                </form>

                <div id="builder"></div>


            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
