<style>
  .grid .ui-grid-row .red {
    color: red;
    font-weight: bold;
  }
  .audit-detail {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
  }
  form [disabled],
  form [disabled] span {
    color: #000 !important;
  }

  .md-button {
    min-width: 30px;
  }
  
  .audit-catg{
    width:7%;
    font-weight:bold;
  }
  
  .inner-tbl{
     text-align: left;
     width: 100%;
     max-width: 100%;
  }
    
  .inner-tbl > thead > tr > th,
  .inner-tbl > tbody > tr > th,
  .inner-tbl > tfoot > tr > th,
  .inner-tbl > thead > tr > td,
  .inner-tbl > tbody > tr > td,
  .inner-tbl > tfoot > tr > td {
    line-height: 1.42857143;
    vertical-align: top;
    padding:4px;
    border-bottom: 1px solid #ddd
  }
</style>

<form id="AuditFilterPanel" class="filter" layout="row" layout-padding layout-margin layout-align="space-around center" ng-submit="refreshAudit()">
  <md-input-container style="min-width: 6em" md-no-float>
    <label>action</label>
    <md-select ng-model="auditModel.action">
      <md-option ng-repeat="action in auditActions" value="{{action}}">
        {{action}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container style="min-width: 6em" md-no-float>
    <input ng-model="auditModel.user" placeholder="user">
  </md-input-container>
  <md-datepicker ng-model="auditModel.timestampStart" md-placeholder="Start Date"></md-datepicker>
  <md-datepicker ng-model="auditModel.timestampEnd" md-placeholder="End Date"></md-datepicker>

  <md-button class="md-primary" type="submit">
    <md-tooltip>Filter</md-tooltip>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M10 18h4v-2h-4v2z"></path><path d="M3 6v2h18V6H3z"></path><path d="M6 13h12v-2H6v2z"></path></svg>
  </md-button>
</form>
    <div layout="row" layout-wrap layout-fill class="audit-detail" ng-show = "showAuditDetails" layout-padding layout-margin layout-align="space-around center">
         <md-whiteframe style="margin:25px" class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" >
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">General Details:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>
                        <table class="inner-tbl">
                            <tbody>
                                <tr><td>User Name:</td><td>{{selectedItem.userName}}</td></tr>
                                <tr><td>Audit Message:</td><td>{{selectedItem.message}}</td></tr>
                                <tr><td>Timestamp:</td><td>{{selectedItem.timestamp}}</td></tr>
                            </tbody>
                        </table>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe>
            <md-whiteframe style="margin:25px" class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" >
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">Action Target:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>
                        <table class="inner-tbl">
                            <tbody>
                                <tr><td>Type:</td><td>{{actionTarget.type}}</td></tr>
                                <tr><td>Name:</td><td>{{actionTarget.name}}</td></tr>
                                <tr><td>ID:</td><td>{{actionTarget.id}}</td></tr>
                            </tbody>
                        </table>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe>
            <md-whiteframe style="margin:25px" class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" >
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">Action Details:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>
                        <table class="inner-tbl">
                            <tbody>
                                <tr ng-repeat="data in actionData | limitTo: 4"><td>{{data.name}}</td><td>{{data.value}}</td></tr>
                            </tbody>
                        </table>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe>
        <!--     <md-whiteframe style="margin:25px" class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" >
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">{{details.title}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-switch=details.title>
                    <td ng-switch-when ="Action Target:">
                        <table class="inner-tbl">
                            <tbody>
                                <tr><td>Test Title 1</td><td>Test Data 1</td></tr>
                                <tr><td>Test Title 2</td><td>Test Data 2</td></tr>
                                <tr><td>Test Title 3</td><td>Test Data 3</td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td ng-switch-when="Other Text:">This is an example text for an as of yet defined other element adsivndiosaivitrnbsidbnsdfnasoi</td>
                    <td ng-switch-default ="" style="text-align: center">{{details.content}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe> -->
            <!-- <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" >
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">User Name:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center">{{selectedItem.userName}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center">
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">Audit Message:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center">{{selectedItem.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center">
                <table class="table table-condensed"
                       style="border-collapse: separate; text-align: center;">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: left">Action Target:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center">{{selectedItem.target}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-whiteframe> -->

<!--      <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center">
       <table border="1px" width="100%" margin-top="2px">
            <tbody>
                <tr><td class="audit-catg">User Name: </td><td>{{selectedItem.userName}}</td></tr>
                <tr><td class="audit-catg">Audit Message: </td><td> {{selectedItem.message}}</td></tr>
                <tr><td class="audit-catg">Action Target: </td><td> {{selectedItem.target}}</td></tr>
                <tr><td class="audit-catg">Action Target-ID: </td><td> {{selectedItem.actionData.id}}</td></tr>
            </tbody>
        </table>
      </md-whiteframe> -->
    </div>

<md-content class="md-padding">
    <div ui-grid="auditGrid" ui-grid-pagination ui-grid-selection class="grid admin-grid" />
</md-content>

