<div class="container">
	                	<div style="padding: 10px;"></div>
	                		<div>
	                			<div style="display:inline-block">Disposition Status:</div>
	                			<md-input-container style="padding-left:5px">
                                <md-select ng-model="dispObj.currentDispStatus" ng-change="adjustUiForStatusObj(dispObj.currentDispStatus)">
                                	<md-option value=-1 selected="selected">Create New Status</md-option>
                                    <md-option ng-repeat="item in dispositionStatus" value="{{item.id}}">
                                        {{item.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
	                		</div>
	                		<div class="">
	                			<md-input-container style="min-width: 6em">
								    <label>Status Name:</label>
								    <input ng-model="dispObj.currentStatusName"></input>
  								</md-input-container>
  								<div>
	                			<div>Status Description:</div>
	                				<textarea ng-model ="dispObj.currentStatusDescription" rows="2" style="min-width:15%;resize:none"></textarea>
	                				</div>
		                		<div style="float:left">
		  							<md-button type="submit"
						  	          ng-disabled="dispObj.currentStatusDescription === empty || dispObj.currentStatusDescription === '' || dispObj.currentStatusDescription === -1
					                  || dispObj.currentStatusName === empty || dispObj.currentStatusName ===''"
				                      class="md-raised md-primary col-sm-offset-6" ng-click="saveOrEditStatus()">
					               	<i class="glyphicon glyphicon-save"></i> Save
					           		</md-button>
					           		<md-button type="submit"
							           ng-disabled="dispObj.currentStatusDescription === empty || dispObj.currentStatusDescription === '' || dispObj.currentStatusDescription === -1
					                   || dispObj.currentStatusName === empty || dispObj.currentStatusName ==='' || dispObj.currentStatusName ==='-1' || dispObj.currentDispStatus <= 5"
			  	                      class="md-raised md-primary col-sm-offset-6" ng-click="deleteStatus()">
					               	<i class="glyphicon glyphicon-delete"></i><i class="glyphicon glyphicon-erase"></i> Delete
					           		</md-button>
					            </div>
	                		</div>
	                	</div>