<style>
  .grid .ui-grid-row .red {
    color: red;
    font-weight: bold;
  }
  .error-detail {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  form [disabled],
  form [disabled] span {
    color: #000 !important;
  }

  .md-button {
    min-width: 30px
  }

  .fixed-panel {
        height: 200px;
        overflow-y: scroll;
  }
</style>

<form id = "ErrorFilterPanel" class="filter" layout="row" layout-padding layout-margin layout-align="space-around center" ng-submit="refreshError()">
  <md-input-container style="min-width: 6em" md-no-float>
    <input ng-model="errorModel.code" placeholder="Error Code">
  </md-input-container>
  <md-datepicker ng-model="errorModel.timestampStart" md-placeholder="Start Date"></md-datepicker>
  <md-datepicker ng-model="errorModel.timestampEnd" md-placeholder="End Date"></md-datepicker>

  <md-button class="md-primary" type="submit">
    <md-tooltip>Filter</md-tooltip>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M10 18h4v-2h-4v2z"></path><path d="M3 6v2h18V6H3z"></path><path d="M6 13h12v-2H6v2z"></path></svg>
  </md-button>
</form>

<md-content class="error-detail fixed-panel" ng-show = "selectedErrorItem" layout-padding layout-margin layout-align="space-around center">
   <table border="1px" width="100%" margin-top="2px">
       <tr ng-repeat="line in selectedErrorItem.errorDetails track by $index">
           <td>{{line}}</td>
       </tr>
   </table>
</md-content>

<md-content class="md-padding">
    <div ui-grid="errorGrid" ui-grid-pagination ui-grid-selection ui-grid-auto-resize class="grid admin-grid" />
</md-content>
