<form role="form" class="sev-five-height" ng-submit="saveSettings()">
  <div class="flex flex-vert upper-cnt switch-width-sm-half center">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
      <input class="mdl-textfield__input" type="text" id="pass1" ng-model="settingsInfo.matchingThreshold" />
      <label class="mdl-textfield__label static-label" for="pass1">Matching Threshold</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
      <input class="mdl-textfield__input" type="text" id="watch1" ng-model="settingsInfo.flightRange" />
      <label class="mdl-textfield__label static-label" for="watch1">Watchlist Matching Flight Range</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
