<style>
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 500px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed red;
}
</style>

<div layout="column" layout-margin>
  <h2>Upload Flight Data</h2>
  <div flex>
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="text/plain">Drop APIS and PNR files here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  </div>

  <h2>Upload Progress</h2>
  <div flex>
    <ul>
      <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    <pre>{{log}}</pre>
  </div>
</div>
