<md-content layout-padding>
    <form name="userForm" ng-submit="saveUser()">
    
    	<div class="alert alert-danger" ng-show="error">
                    
                    <strong>Error!</strong> {{validationErrorMessage}}
        </div> <br/>
        <div layout layout-sm="column">
            <md-input-container flex><label>User Id</label>
                <input required ng-model="user.userId" id="userId" ng-disabled="action === 'manageUser'" autocomplete="off" style="width: 300px;">
            </md-input-container>
            <md-input-container flex><label>Password</label>
                <input  ng-focus="displayPasswordRules()" ng-blur="hideToast()" name="updatedPassword" ng-model="updatedPassword" id="updatedPassword" type="password" type="search"  autocomplete="off"  style="width: 300px;">
            </md-input-container>
            
           <md-input-container flex><label><strong>Confirm Password</strong></label>
                        <input ng-model="confirmUpdatedPassword" type="password" name="confirmUpdatedPassword"  ><br/>
                       
          </md-input-container>
            
            
            
        </div>
        <div layout layout-sm="column">
            <md-input-container flex><label>First name</label> <input required ng-model="user.firstName" autocomplete="off" required style="width: 300px;">
            </md-input-container>
            <md-input-container flex><label>Last Name</label> <input required ng-model="user.lastName" required style="width: 300px;">
            </md-input-container>
        </div>

        <div layout="column">
            <code style="font-weight: bold; font-size: 17px;">Status</code>
            <md-switch ng-model="user.active" ng-true-value="1" ng-false-value="0"
                       class="md-primary" aria-label="userStatus" ng-disabled="user.isCurrentlyLoggedInUser">
                	User is
                <p translate> {{ user.active ? 'user.status.enabled' : 'user.status.disabled' }}</p>
            </md-switch>
        </div>
        <div layout="column">
            <code style="font-weight: bold; font-size: 17px;">Roles</code>
            <span layout="column" layout-wrap class="clearfix" style="min-height: 200px;">
                <span flex="20" ng-repeat="role in roles | orderBy:'roleDescription'">
                        <md-switch ng-model="role.selected"
                                   ng-disabled="role.disabled || user.isCurrentlyLoggedInUser"
                                   class="md-primary" aria-label="Roles"
                                   ng-change="setNonAdminRoles(role)">
                            <p translate>{{ role.roleDescription }}</p>
                        </md-switch>
                </span>
            </span>
        </div>
        <div class="md-actions" layout="row" style="padding-top: 15px;">
            <span flex="80"></span>
            <md-button href="#/admin" class="md-raised">Back</md-button>
            <md-button class="md-raised md-primary" type="submit">Save</md-button>
        </div>
    </form>
</md-content>
