.left-label {
  text-align-last: end;
  padding: unset;
  height: 22px !important;
  font-size: smaller;
  font-weight: 700;
}
.right-label {
  padding: unset;
  height: 22px !important;
  font-size: smaller;
}
