.login-page-container {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 74, 147, 0.83)),
    url("../../images/noorulabdeen-ahmad-lpcaOpVIzx8-unsplash.jpg") no-repeat center
      center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.transparent-white-card {
  background: rgba(223, 231, 247, 0.14) !important;
  width: 22rem;
  height: 27rem;
  text-align: center;
}

.gradient-button {
  background-image: linear-gradient(to right, #1f2957 0%, #4a92d6 90%);
  border-width: 0px !important;
  color: white;
}
.card-body-login {
  align-self: auto !important;
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(223, 231, 247, 0.14) 0%,
    rgba(0, 74, 147, 0.83) 90%
  );
  box-shadow: 3px 3px 10px 0px #2e2e2ed4;
  margin-bottom: 0px !important;
}

.login-labeled-input {
  width: 60%;
  margin: auto;
}

.login-logo {
  z-index: 2;
  background: url("../../images/GTAS Logo blue 2.png") no-repeat center center;
  height: 90px;
  width: 90px;
  background-size: cover;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 20px;
}

.login-brand {
  color: #1f2957;
  font-size: xx-large;
  font-feature-settings: "pcap", "pcap";
  font-variant: petite-caps;
  font-weight: 500;
  margin-bottom: 30px;
}
.login-alert {
  margin: auto;
}
