/* .hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */


/* khadija */
/* .hero.is-info {
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.8)
    ), url('../../images/khadija-yousaf-PGp2Pacn3_M-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent-white {
  background:rgba(250,250,250,0.2) !important;
} */




/* hameed */
/* .hero.is-info {
  background: linear-gradient(
      rgba(255, 255, 255, .8) 20%,
      rgba(0, 4, 7, 0.8) 90%
    ), url('../../images/hameed-ullah-eeI0al-Qx8k-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent-white {
  background:#9f9f9f !important;
  background:rgba(250,250,250,0.3) !important;
} */


/* noorulabdeen */
.login-page-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 74, 147, 0.83)
    ), url('../../images/noorulabdeen-ahmad-lpcaOpVIzx8-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.transparent-white {
  background:rgba(200,217,250,0.14) !important;
}

.card {
  width: 25rem;
  height: 27rem;
  text-align: center;
}
.card-title {
  font-size: xx-large;
}



/* olah */
 /* .hero.is-info {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 74, 147, 0.63)
    ), url('../../images/daniel-olah-srFhtP2Isv4-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent-white {
  background:rgba(250,250,250,0.3) !important;
}

 */


.failed-login {
  color: red;
  border-color: blue;
  font-size: larger;
  font-weight: bold;
}

.gradient-button {
  background-image: linear-gradient(to right, #1f2957 0%, #4a92d6 90%);
  border-width: 0px !important;
  color: white;
}

.title2 {
  font-weight: 500;
  font-size: large;
  padding: 10px;
}
