<md-dialog class="upper-cnt" aria-label="Link Analysis">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Link Analysis</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="linkGraph(paxLinks, $event)">
          <i class="fa fa-area-chart" aria-hidden="true"></i>
        </md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-repeat="pax in paxLinks track by $index">
            <h2>
              <a href="#/paxdetail/{{pax.passengerId}}/{{pax.flightId}}" target="_blank">
                Passenger:
                <md-tooltip>View Pax-Detail Page</md-tooltip>
              </a>
            </h2>
          <p>
            {{pax.firstName}} {{pax.middleName}} {{pax.lastName}}
          </p>
          <p>
            Flight Number: {{pax.flightNumber}}
          </p>
          <button ng-click="rawpnr = $index" type="button" class="btn btn-default">View Raw PNR</button>
          <p ng-if="rawpnr == $index" class="white-space-preline">
            {{pax.highlightMatch}}
          </p>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
