<md-dialog class="upper-cnt" aria-label="Link Analysis">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Link Graph</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="searchLinks(rootPax,$event)">
          <i class="fa fa-file-text" aria-hidden="true"></i>
        </md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    </md-dialog-content>
  </form>
</md-dialog>
