<md-dialog class="upper-cnt" aria-label="User Management">
  <form ng-cloak ng-submit="saveUser(user)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>User Management</h2>
        <span flex></span>
        <md-button ng-click="hide()" class="md-icon-button">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
          <input class="mdl-textfield__input" type="text" id="dg-username" ng-model="user.username" required>
          <label class="mdl-textfield__label static-label" for="dg-username">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
          <input class="mdl-textfield__input" type="password" id="dg-password" ng-model="user.password" required>
          <label class="mdl-textfield__label static-label" for="dg-password">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
          <input class="mdl-textfield__input" type="email" id="dg-email" ng-model="user.email" required>
          <label class="mdl-textfield__label static-label" for="dg-email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
          <input class="mdl-textfield__input" type="text" id="dg-org" ng-model="user.organization" required>
          <label class="mdl-textfield__label static-label" for="dg-org">Organization</label>
        </div>
        <button ng-if="user && user.id" ng-click="deleteUser(user)" class="btn btn-icon-only btn-default">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span class="sr-only">Delete</span>
        </button>
        <button type="submit" class="btn btn-icon-only btn-primary">
          <i class="fa fa-inverse fa-floppy-o"></i>
          <span class="sr-only">Save</span>
        </button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
