../**/*
!wait-for-it.sh
!gtas-webapp/**
!gtas-job-scheduler-war/**
!init.sql
!init_privileges.sql
gtas-parent/**/target/**
!../pom.xml
!../../gtas-parent/gtas-commons/target/**
!../../gtas-parent/gtas-commons/**
../../gtas-parent/gtas-commons/db/**
!../../gtas-parent/gtas-webapp/target/**
!../../gtas-parent/gtas-job-scheduler-war/target/**