<form ng-submit="filter()" layout="row"  class="chipsdemoContactChips filter-form">
  <div class="last-name md-padding">
    <label for="lastName">{{'pass.lastname' | translate}}</label>
    <md-input-container>
    	<input id="lastName" ng-model="model.lastName">
    </md-input-container>
  </div>
  <md-content class="disabled-chips md-padding autocomplete origin" layout="column" ng-disabled="true" >
    <label>{{'flight.origin' | translate}}</label>
    <md-contact-chips ng-disabled="true" ng-model="model.origin" md-contacts="searchSort($query)"
      md-contact-name="id" md-contact-email="name"
      md-require-match="true" md-highlight-flags="i" filter-selected="filterSelected">
    </md-contact-chips>
  </md-content>
  <md-content class="disabled-chips md-padding autocomplete destination" layout="column">
    <label>{{'flight.destination' | translate}}</label>
    <md-contact-chips ng-model="model.dest" md-contacts="searchSort($query)" md-contact-name="id"
      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
      filter-selected="filterSelected">
    </md-contact-chips>
  </md-content>
  <div class="flight md-padding">
    <label for="flightNumber">{{'flight.flight' | translate}}</label>
    <md-input-container>
      <input ng-disabled="true" id="flightNumber" ng-model="model.flightNumber">
    </md-input-container>
  </div>
  <div class="direction md-padding">
    <label for="direction">{{'flight.direction' | translate}}</label>
    <md-input-container>
      <md-select ng-disabled="true" id="direction" ng-model="model.direction" >
        <md-option ng-repeat="item in flightDirections" value="{{item.value}}">
            {{item.label}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="start-date md-padding">
    <label for="startDate">{{'flight.startdate' | translate}}</label>
    <md-datepicker ng-disabled="true" id="startDate" ng-model="model.etaStart" md-placeholder="Start Date"></md-datepicker>
  </div>
  <div class="end-date md-padding">
    <label for="endDate">{{'flight.enddate' | translate}}</label>
    <md-datepicker ng-disabled="true" id="endDate" ng-model="model.etaEnd" md-placeholder="End Date"></md-datepicker>
  </div>
  <div class="actions">
    <md-button class="md-primary" aria-label="reset" ng-click="reset()" type="button">
      <md-tooltip>{{'flight.reset' | translate}}</md-tooltip>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
        <path d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2z"></path>
        <path d="M12 3c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"></path>
      </svg>
    </md-button>
    <md-button class="md-primary" type="submit">
      <md-tooltip>{{'flight.filter' | translate}}</md-tooltip>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
        <path d="M10 18h4v-2h-4v2z"></path>
        <path d="M3 6v2h18V6H3z"></path>
        <path d="M6 13h12v-2H6v2z"></path>
      </svg>
    </md-button>
  </div>
</form>
