/*
 *
 *  * All Application code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
 *  *
 *  * Please see LICENSE.txt for details.
 *
 */

/*TODO: ensure datepicker is mobile friendly*/
@media (min-width: 500px) {
  .react-datepicker {
    display: inline-flex;
  }
}
