.events-card {
  max-width: 100px;
  line-height: normal;
}

.card-table {
  max-height: unset !important;
}

.table-main {
  height: 100%;
  padding: 0px;
  max-height: calc(100vh - 170px);
  overflow: auto;
  border: 1px solid #cfd3d6;
}

@media (min-width: 768px) {
}

@media (max-width: 420px) {
  .pag {
    display: none;
  }
}

.table-header {
  white-space: nowrap !important;
  padding: 0.3rem !important;
}

.pagination {
  position: fixed;
  bottom: 0;
  margin: unset;
  margin-bottom: 10px;
  align-items: center !important;
}

.mr-10 {
  margin-right: 15px !important;
}

.pag-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  text-align: center;
  white-space: nowrap;
}

.pag {
  margin: 0 0.25rem;
  border: 1px solid #eee;
  padding: 0.25rem;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  border-color: #495057;
  min-width: unset !important;
}

.pag-input {
  height: 29px;
  width: 60px !important;
}

@media (max-width: 825px) {
  .pag-select {
    display: none !important;
  }
  .pag-goto {
    display: none !important;
  }
}
.pag-num {
  margin-left: 0.25rem;
}
