<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="save">
  <h3 class="block-label no-margin-top">{{getSaveStateText(activeTab)}} {{activeTab}}</h3>
  <form name="watchlist" class="filters" _lpchecked="1" ng-submit="saveRow()">
    <div class="filter-list" role="tablist">
      <h1 class="filter-heading">{{activeTab}}
      </h1>
      <h3 ng-if="activeTab == 'Document'" aria-expanded="true" data-toggle="collapse" role="tab" data-target="#filterGroup5" aria-controls="filterGroup5" class="filter-group-title">
        <a href="#"><i class="fa fa-angle-right pull-right"></i></a> Document Type:
      </h3>
      <div ng-if="activeTab == 'Document'"  id="filterGroup5" class="collapse in" aria-expanded="true">
        <div class="filter-group-content">
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width is-upgraded" data-upgraded=",MaterialSelectfield">
            <select class="cbp-non-chip-input mdl-selectfield__select" id="direction"
              ng-model="Document.documentType" required>
              <option ng-repeat="docType in documentTypes" value="{{docType.id}}" translate>
                {{docType.label}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <h3 ng-if="activeTab == 'Document'" aria-expanded="true" data-toggle="collapse" role="tab" data-target="#filterGroup1" aria-controls="filterGroup1" class="filter-group-title">
        <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
        Document Number:
      </h3>
      <div ng-if="activeTab == 'Document'" id="filterGroup1" class="collapse in" aria-expanded="true">
        <div class="filter-group-content">
            <div class="form-group">
              <input class="cbp-non-chip-input cbp-input mdl-textfield__input" type="text"
                aria-required="true" ng-model="Document.documentNumber" required />
            </div>
        </div>
      </div>
      <h3 ng-if="activeTab == 'Passenger'" aria-expanded="true" data-toggle="collapse" role="tab" data-target="#filterGroup2" aria-controls="filterGroup2" class="filter-group-title">
        <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
        First Name:
      </h3>
      <div ng-if="activeTab == 'Passenger'" id="filterGroup2" class="collapse in" aria-expanded="true">
        <div class="filter-group-content">
            <div class="form-group">
              <input class="cbp-non-chip-input cbp-input mdl-textfield__input" type="text"
                aria-required="true" ng-model="Passenger.firstName" required />
            </div>
        </div>
      </div>
      <h3 ng-if="activeTab == 'Passenger'" aria-expanded="true" data-toggle="collapse" role="tab" data-target="#filterGroup3" aria-controls="filterGroup3" class="filter-group-title">
        <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
        Last Name:
      </h3>
      <div ng-if="activeTab == 'Passenger'" id="filterGroup3" class="collapse in" aria-expanded="true">
        <div class="filter-group-content">
            <div class="form-group">
              <input class="cbp-non-chip-input cbp-input mdl-textfield__input" type="text"
                aria-required="true" ng-model="Passenger.lastName" required />
            </div>
        </div>
      </div>
      <h3 ng-if="activeTab == 'Passenger'" aria-expanded="true" data-toggle="collapse" role="tab" data-target="#filterGroup6" aria-controls="filterGroup6" class="filter-group-title">
        <a href="#"><i class="fa fa-angle-right pull-right"></i></a> Date of Birth
      </h3>
      <div ng-if="activeTab == 'Passenger'" id="filterGroup6" class="collapse in">
        <div class="filter-group-content">
          <div class="row">
            <div class="form-group">
              <div class="cbp-datepicker">
                <md-datepicker name="dob" md-hide-icons="calendar"
                  ng-model="Passenger.dob" required></md-datepicker>
                <div class="validation-messages" ng-messages="sideForm.startDate.$error">
                  <div ng-message="valid" class="alert alert-danger" role="alert">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Invalid Date
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  <h3  aria-expanded="true" data-toggle="collapse" role="tab" data-target="#filterGroup7" aria-controls="filterGroup7" class="filter-group-title">
        <a href="#"><i class="fa fa-angle-right pull-right"></i></a> Category:
      </h3>
      <div ng-if="activeTab == 'Document'" id="filterGroup7" class="collapse in" aria-expanded="true">
        <div class="filter-group-content">
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width is-upgraded" data-upgraded=",MaterialSelectfield">
            <select class="cbp-non-chip-input mdl-selectfield__select" id="direction"
              ng-model="Document.categoryId" required>
            <option ng-repeat="category in watchlistCategories" value="{{category.id}}" translate>
                {{category.label}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div ng-if="activeTab == 'Passenger'" id="filterGroup7" class="collapse in" aria-expanded="true">
        <div class="filter-group-content">
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width is-upgraded" data-upgraded=",MaterialSelectfield">
            <select class="cbp-non-chip-input mdl-selectfield__select" id="direction"
              ng-model="Passenger.categoryId" required>
            <option ng-repeat="category in watchlistCategories" value="{{category.id}}" translate>
                {{category.label}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="md-pad">
      <button type="button" class="btn btn-icon-only btn-primary pull-left"
          ng-if="$scope[$scope.activeTab].id !== null"
          ng-click="removeRow()"
          ng-disabled="rowSelected === null">
          <i class="fa fa-inverse fa-trash"></i>
          <md-tooltip>Remove</md-tooltip>
      </button>
      <button type="submit" class="btn btn-icon-only btn-primary pull-right">
          <i class="fa fa-inverse fa-floppy-o"></i>
          <md-tooltip>{{getSaveStateText(activeTab)}}</md-tooltip>
      </button>
    </div>
  </form>
</md-sidenav>

<div class="margin-top-1">
<md-tabs>
    <md-tab ng-repeat="tab in tabs" label="{{tab.icon}}" md-on-select="updateGrid(tab.title)">
      <md-tab-label>
        <span ng-bind-html="tab.icon"></span>
        <span>&nbsp;{{tab.title}}</span>
      </md-tab-label>
    </md-tab>
  
</md-tabs>
</div>
<div class="manage">
  <div ui-grid="watchlistGrid" ui-grid-pagination ui-grid-selection ui-grid-importer ui-grid-exporter class="grid" external-scopes="$scope" ng-if="showWLTypesGrid"></div>
</div>

<div class="actions md-pad">
<button type="button" class="btn btn-icon-only btn-warning pull-left"
    ng-click="removeRows()"
    ng-disabled="disableTrash">
    <i class="fa fa-inverse fa-trash"></i>
    <md-tooltip>Selected {{activeTab}}(s)</md-tooltip>
</button>
<button type="button" class="btn btn-primary pull-right"
    ng-click="updateWatchlistService()"
    ng-disabled="updating === true">
    <i class="fa fa-refresh"></i> Sync
    <md-tooltip>Watchlist Service</md-tooltip>
</button>
<button ng-click="Add()" class="btn btn-default pull-right">
    <md-tooltip>Add User {{activeTab}}</md-tooltip>
    <i class="fa fa-plus"></i> {{activeTab}}
</button>
<button onclick="angular.element(document.querySelector('.ui-grid-icon-menu'))[0].click();"
    class="btn btn-hover btn-default pull-right" type="button">
    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Import
    <md-tooltip>Import CSV</md-tooltip>
</button>
<button type="button" ng-click="export('csv')" class="btn btn-hover btn-default pull-right">
   <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export
   <md-tooltip>Export CSV</md-tooltip>
</button>
</div>
<div>
<spinner name="html5spinner" ng-cloak="">
  <div class="overlay"></div>
  <div class="spinner">
    <button class="btn btn-default" disabled>
        <i class="fa fa-spinner fa-spin"></i> Please Wait...
    </button>
  </div>
</spinner>
</div>
