<!doctype html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GTAS</title>
  <link rel="stylesheet" href="resources/node_modules/npm-font-open-sans/open-sans.css" />
  <link rel="stylesheet" href="resources/css/style-icomoon.css" />
   <link rel="stylesheet" href="resources/node_modules/cbp-theme/dist/cbp-theme.css" type="text/css" media="all" />
  <link rel="stylesheet" href="resources/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="resources/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
  <link rel="stylesheet" href="resources/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" />
  <link rel="stylesheet" href="resources/bower_components/selectize/dist/css/selectize.bootstrap3.css" />
  <link rel="stylesheet" href="resources/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="resources/bower_components/angular-ui-grid/ui-grid.min.css" />
  <link rel="stylesheet" href="resources/css/query-builder.default.css" />
  <link rel="stylesheet" href="resources/bower_components/angular-material/angular-material.min.css" />
  <link rel="stylesheet" href="resources/css/sb-admin-2.css">
  <link rel="stylesheet" href="resources/bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="resources/css/gtas.css" />
  <link rel="stylesheet" href="resources/css/main.css" />
  <link href="resources/css/misc_fonts.css" rel="stylesheet">
  <link href="resources/css/misc_italian.css" rel="stylesheet">
  <script src="resources/bower_components/jquery/dist/jquery.js"></script>
  <!--<script src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <script src="resources/bower_components/summernote/dist/summernote.js"></script>
  <link rel="stylesheet" href="resources/bower_components/summernote/dist/summernote.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="resources/bower_components/trix/dist/trix.css">
</head>

<body ng-cloak>

  <!-- CBP and APP HEADER  -->
  <div data-ng-controller="NavCtrl" role="navigation" class="cbp-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ng-href="#/{{homePage}}">
          <div class="gtas-brand"></div>
          <div class="dhs-brand"></div>
        </a>
        <button data-target="#navbar-user-info" data-toggle="collapse" type="button" class="navbar-toggle">
		    <span class="sr-only">Toggle Global Navigation</span>
		   	<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		    </button>
      </div>
      <div id="navbar-user-info" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown mobile-hide">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
              Tools<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_QUERIES }}]"><a href="#/build/query">
                <i class="fa fa-filter" aria-hidden="true"></i>
                &nbsp;Queries</a>
              </li>
              <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_RULES }}]"><a href="#/build/rule">
                <i class="fa fa-flag" aria-hidden="true"></i>
                &nbsp;Rules</a>
              </li>
              <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_WATCHLIST }}]"><a href="#/watchlists">
                <i class="fa fa-eye" aria-hidden="true"></i>
                &nbsp;Watch List</a>
              </li>
              <li data-has-role="[{{ ROLES.ADMIN }}]">
                <a href="#/admin">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                &nbsp;Admin</a>
              </li>
              <li data-has-role="[{{ ROLES.ADMIN }}]"><a href="#/upload">
                <i class="fa fa-upload" aria-hidden="true"></i>
                &nbsp;Upload</a></li>
              <!-- Neo4J Browser pop out-->
              <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_QUERIES }}]"><a href="http://localhost:7474/browser/" target="_blank">
                <i class="fa fa-filter" aria-hidden="true"></i>
                &nbsp;Neo4J Browser</a>
              </li>
            </ul>
          </li>
          <li class="dropdown notification mobile-hide">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#/casedisposition">
              <i class="fa fa-inverse fa-bell notif-icon" aria-hidden="true"></i>
              <span class="notif-icon-cnt">{{getHitCount()}}</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a target="_blank" href="https://github.com/US-CBP/GTAS/issues">
		          <span class="fa fa-comment"></span>
		          <span class="hidden-sm">Feedback</span>
		        </a>
          </li>
          <li data-toggle="hover" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
		          <span class="fa fa-user"></span>
		          <span class="hidden-sm">
		          	{{currentlyLoggedInUser.lastName}}, {{currentlyLoggedInUser.firstName}}
		          </span>
		          <span class="caret"></span>
		        </a>
            <ul rel="right-menu-links" role="menu" class="dropdown-menu">
              <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_QUERIES }},{{ ROLES.MANAGE_RULES }},{{ ROLES.MANAGE_WATCHLIST }},{{ ROLES.VIEW_FLIGHT_PASSENGERS }}]">
                <a title="Settings" href="#/userSettings">Change Password</a>
              </li>
              <li class="divider"></li>
              <li data-has-role="[{{ ROLES.MANAGE_QUERIES }},{{ ROLES.MANAGE_RULES }},{{ ROLES.MANAGE_WATCHLIST }},{{ ROLES.VIEW_FLIGHT_PASSENGERS }}]">
                <a title="Office Location" href="#/userlocation"> <span class="fa fa-building"></span>&nbsp;  Office Location  </a>
              </li>
              <li data-has-role="[{{ ROLES.ADMIN }}]">
                <a title=""> <span style="opacity: 0.4;filter: alpha(opacity=40);" class="fa fa-building"></span>&nbsp;<span style="color:lightgrey">Office Location </span>   </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href ng-click="logout()" title="Logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-ng-controller="NavCtrl" role="navigation" class="app-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
	        <span class="sr-only">Toggle Application Navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        </button>
      </div>

      <!-- Flights, Passengers, Cases Tab -->
      <div id="subnav" class="collapse navbar-collapse">
        <div class="nav navbar-nav">
          <ul class="nav nav-tabs nav-tabs-light" role="tablist">
            <li ng-class="{'active': setSelectedTab('/flights')}">
              <a ng-disabled="onRoute('flights')" href="#/flights" role="tab">
	              	<i class="fa fa-plane" aria-hidden="true"></i> &nbsp; Flights</a></li>
            <!--<li ng-class="{'active': setSelectedTab('/passengers')}">-->
              <!--<a ng-disabled="onRoute('passengers')" href="#/passengers" role="tab">-->
	              	<!--<i class="fa fa-user" aria-hidden="true"></i> &nbsp; Passengers-->
	              <!--</a></li>-->
            <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_WATCHLIST }}, {{ ROLES.MANAGE_RULES }}, {{ ROLES.MANAGE_QUERIES }}]"
              ng-class="{'active': setSelectedTab('/casedisposition')}">
              <a ng-disabled="onRoute('cases')" href="#/casedisposition" role="tab">
	              	<i class="fa fa-folder" aria-hidden="true"></i> &nbsp;Cases
	              </a></li>
	              <li data-has-role="[{{ ROLES.ADMIN }}, {{ ROLES.MANAGE_WATCHLIST }}, {{ ROLES.MANAGE_RULES }}, {{ ROLES.MANAGE_QUERIES }}]"
              ng-class="{'active': setSelectedTab('/onedaylookout')}">
              <a ng-disabled="onRoute('onedaylookout')" href="#/onedaylookout" role="tab">
	              	<i  class="fa fa-binoculars" aria-hidden="true" ></i> &nbsp;One Day Lookouts
	              </a>
	         </li>        
          </ul>
        </div>

        <div class="nav navbar-nav navbar-form navbar-right">
          <form role="search">
            <div data-has-role="[{{ ROLES.ADMIN }}, {{ROLES.MANAGE_QUERIES }}]" class="form-group">
              <div class="input-group">
                <div class="mdl-textfield mdl-js-textfield">
                  <label for="main-search" class="mdl-textfield__label">Search</label>
                  <input ng-model="searchBarContent.content" ng-disabled="onRoute('adhocquery') || currentLocation.val === '/adhocquery'" ng-keypress="$event.which === 13 && searchBarQuery() && setSelectedTab('adhocquery')" type="text" id="main-search" class="mdl-textfield__input"
                  />
                </div>
                <span class="input-group-btn">
	                  <button ng-disabled="onRoute('adhocquery') || currentLocation.val === '/adhocquery'"
	                  	ng-click="searchBarQuery() && setSelectedTab('adhocquery')"
	                  	aria-label="Search"  type="submit" class="btn btn-primary">
	                  	<i class="fa fa-search"></i></button>
	                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
<div ui-view="nav"></div>
  <div ui-view="header" href="#/dashboard"></div>
  <div class="content" ui-view=""  ></div>
  <div ui-view="footer"></div>

  <script src="resources/bower_components/angular/angular.js"></script>
  <script src="resources/bower_components/ng-idle/angular-idle.min.js"></script>
  <script src="resources/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="resources/bower_components/moment/min/moment.min.js"></script>
  <script src="resources/bower_components/jquery/dist/jquery.js"></script>
  <script src="resources/node_modules/cbp-theme/dist/cbp-theme.js"></script>
  <script src="resources/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="resources/bower_components/bootbox/bootbox.js"></script>
  <script src="resources/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="resources/bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
  <script src="resources/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="resources/bower_components/jquery-extendext/jQuery.extendext.min.js"></script>
  <!-- <script src="resources/bower_components/pdfmake/build/pdfmake.min.js"></script>
  <script src="resources/bower_components/pdfmake/build/vfs_fonts.js"></script> -->
  <script src="resources/node_modules/csv-js/csv.js"></script>
  <script src="resources/bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="resources/bower_components/angular-material/angular-material.min.js"></script>
  <script src="resources/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="resources/bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
  <script src="resources/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="resources/bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="resources/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="resources/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
  <script src="resources/bower_components/angular-swx-session-storage/release/swx-session-storage.min.js"></script>
  <script src='resources/js/query-builder.js'></script>
  <script src="resources/bower_components/jspdf/dist/jspdf.min.js"></script>
  <script src='resources/js/html2canvas.js'></script>
  <script src='resources/js/html2pdf.js'></script>
  <script src="resources/bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="resources/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="resources/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="resources/bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
  <script src="resources/bower_components/chart.js/dist/Chart.min.js"></script>
  <script src="resources/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="resources/bower_components/ammap/dist/ammap/ammap.js"></script>
  <script src="resources/bower_components/ammap/dist/ammap/maps/js/worldLow.js"></script>
  <script src="resources/bower_components/ammap/dist/ammap/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="resources/bower_components/ammap/dist/ammap/plugins/export/export.css" type="text/css" media="all" />
  <script src="resources/bower_components/ammap/dist/ammap/themes/light.js"></script>
  <script src="resources/node_modules/cbp-theme/dist/inputmask.js"></script>
  <link rel="stylesheet" href="resources/node_modules/cbp-theme/dist/cbp-theme.css" type="text/css" media="all" />
  <script src="resources/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
  <script src="resources/bower_components/trix/dist/trix.js"></script>
  <script src="resources/bower_components/angular-trix/dist/angular-trix.min.js"></script>
  <script src='seatsMap/jquery.seat-charts.min.js'></script>
  <link rel="stylesheet" href='seatsMap/jquery.seat-charts.css' type="text/css" media="all" />
<link rel="stylesheet" href='seatsMap/seats-map.css' type="text/css" media="all" />
<script src='app.js'></script>
<script src='login/AuthService.js'></script>
<script src='login/LoginController.js'></script>
<script src='common/directives.js'></script>
<script src='common/filters.js'></script>
<script src='common/services.js'></script>
<script src='factory/ModalGridFactory.js'></script>
<script src='factory/JqueryQueryBuilderWidget.js'></script>
<script src='adhocquery/linkGraph.js'></script>
<script src='dashboard/DashboardController.js'></script>
<script src='dashboard/DashboardService.js'></script>
<script src='flights/FlightsModel.js'></script>
<script src='flights/FlightsController.js'></script>
<script src='flights/FlightsService.js'></script>
<script src='pax/PaxModel.js'></script>
<script src='pax/PaxController.js'></script>
<script src='pax/PaxService.js'></script>
<script src='pax/PaxFactory.js'></script>
<script src='build/BuildController.js'></script>
<script src='watchlists/WatchListController.js'></script>
<script src='admin/AdminController.js'></script>
<script src='admin/UserController.js'></script>
<script src='admin/UploadController.js'></script>
<script src='userSettings/UserSettingsController.js'></script>
<script src='userSettings/FilterCtrl.js'></script>
<script src='userlocation/UserLocationController.js'></script>
<script src='userlocation/UserLocationService.js'></script>
<script src='common/languagecontroller.js'></script>
<script src='cases/CasesController.js'></script>
<script src='cases/CaseDispositionController.js'></script>
<script src='cases/CaseDispositionDetailController.js'></script>
<script src='cases/CaseDispositionManualController.js'></script>
<script src='cases/CaseDispositionService.js'></script>
<script src='onedaylookout/OneDayLookoutController.js'></script>
<script src='onedaylookout/OneDayLookoutService.js'></script>
<script src='adhocquery/AdhocQueryController.js'></script>
<script src='adhocquery/AdhocQueryService.js'></script>
<script src='seatsMap/SeatsMapController.js'></script>
<script src='seatsMap/SeatService.js'></script>
<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog ng-cloak>
      <form>
        <md-dialog-content>
          <div class="md-dialog-content">
            <h2 class="md-title">Idle Timeout Warning</h2>
            <div class="_md-dialog-content-body ng-scope">
              <p class="ng-binding">
                You have been idle for too long. If you wish to maintain your session please click the button below</p>
            </div>
            <span idle-countdown="countdown"> You will be logged out automatically in <strong style="font-size:xx-large;">{{countdown}}</strong> seconds. </span>
          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <md-dialog-actions layout="row" class="layout-row">
            <md-button ng-click="dialog.hide()">Continue Session</md-button>
          </md-dialog-actions>
        </md-dialog-actions>
      </form>
    </md-dialog>

  </script>

  <div>
    <spinner name="html5spinner" ng-cloak="">
      <div class="overlay"></div>
      <div class="spinner">
        <button class="btn btn-default" disabled>
            <i class="fa fa-spinner fa-spin"></i> Please Wait...
        </button>
      </div>
    </spinner>
  </div>
</body>

</html>
