[Unit]
Description=Execute the MariaDB Backup Service periodically

[Timer]
OnCalendar=*-*-* 10:00:00
Unit=mariadb-backup.service

[Install]
WantedBy=multi-user.target
