
<md-content layout-md="row" layout-padding="">
  <h2>Quick Query</h2>

  <div>
    <md-input-container class="md-block">
      <label>Query</label>
      <input ng-model="query">
    </md-input-container>
  </div>

  <md-button class="md-raised" ng-click="initSearchPax()">Find Passengers</md-button>
  <md-button class="md-raised">Find Flights</md-button>

  <div id="resultsGrid" ui-grid="resultsGrid"
     ui-grid-pagination
     ui-grid-expandable
     ui-grid-auto-resize
     class="grid"></div>

</md-content>