

<div id='dom-to-print'>
  <div class="flex justify-around flex-wrap">
    <div class="cbp-card-container gtas-card-container" id="caseForm">
      <div class="cbp-card cbp-card-shadow">
        <h3 class="h-label no-margin" align="right">Case#: {{ caseItem.id }} &nbsp;&nbsp;&nbsp;</h3>
        <div class="flex flex-wrap">

          <div class="fixed-width-md min-half-height right-border-grey">
            <div class="flex flex-vert align-items-center full-height">
              <img class="md-margin cbp-card" style="border-radius: 50%;" name="photo" src="http://via.placeholder.com/150x150">
              <div class="md-margin">
                <div class="flex flex-vert sm-pad-span txt-center">
                  <span>
                    {{ caseItem.firstName }} {{ caseItem.lastName }}
                  </span>
                  <span name="dob">
                    DOB: {{ caseItem.dob | date }}
                  </span>
                  <span name="citizen">
                    Citizenship: {{ caseItem.citizenshipCountry }}
                  </span>

                </div>
              </div>
            </div>
          </div>

          <div class="panel-body flex flex-vert ie-fix-md two-table fixed-width-md">
            <table aria-hidden="true" class="cbp-table-selectable mdl-js-data-table floating-table-header">
              <thead align="left">
                <tr>
                  <th align="left">Hit#</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Status</th>
                </tr>
              </thead>
            </table>
            <div class="floating-table-body">
              <table class="cbp-table-selectable mdl-js-data-table">
                <tbody >
                  <tr ng-repeat="hit in caseItemHits" ng-click="sideNav('comments',$index)">
                    <td>{{ hit.hitId }}</td>
                    <td>{{ hit.description }}</td>
                    <td>{{ hit.status }}</td>
                  </tr>

                </tbody>
              </table>
            </div>

                <div style="padding: 20px;"></div>

                  <div style="margin-left: 15%;">
                    <form name="caseForm" ng-submit="caseConfirm()">
                    <div style="display:inline-block">Case Status:</div>
                    <md-input-container style="padding-left:5px">
                      <span ng-show="!dispStatus.caseStatusShow">{{caseDispStatus}}</span>
                      <md-select ng-model="caseDispStatus" ng-show="dispStatus.caseStatusShow">
                        <md-option value=-1 selected="{{item.name}}"></md-option>
                        <md-option ng-repeat="item in dispositionStatuses" value="{{item.name}}">
                          {{item.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>&nbsp;&nbsp;&nbsp;&nbsp;
                    <md-input-container ng-show="dispStatus.caseStatusShow">
                      <button class="flex-150 md-raised btn btn-primary" type="submit">Save</button>
                    </md-input-container>

                    </form>
                  </div>

            <form name="pdfForm" ng-submit="printCard()">
              <md-input-container>
                <button class="md-raised btn btn-default" type="submit">Export PDF</button>
              </md-input-container>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


  <md-sidenav class="right-sidebar md-sidenav-right md-whiteframe-z2" > /*md-component-id="comments" */
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">Comments</h2>
    </md-toolbar>
    <div class="flex flex-vert align-items-center">
      <div class="cbp-card-container gtas-card-container">
        <div class="cbp-card cbp-card-shadow">
          <h3 class="alt-label no-margin-top">Open</h3>
          <div ng-repeat="comment in caseItemHitComments.dispComments" class="no-pad-top panel-body flex flex-vert ie-fix-md">
            <span class="sm-pad">
              Created By: {{ comment.updatedBy }}
            </span>
            <span class="sm-pad">
              Created At: {{ comment.createdAt | date }}
            </span>
            <textarea class="sm-pad" disabled>{{ comment.comments }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </md-sidenav>


  <md-sidenav class="right-sidebar md-sidenav-right md-whiteframe-z2" md-component-id="comments"
              style="width: 100%; max-width: 650px !important;">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">{{hitDispStatus}} --  Hit# {{caseItemHitComments.hitId}} -- {{caseItemHitComments.description}}</h2>
    </md-toolbar>
    <form name="hitForm" ng-submit="commentConfirm()">
      <md-content layout-padding>
            <div class="static-label"> Leave a Comment </div>
            <!--<summernote ng-model="commentText" config="options" id="summernote"></summernote>-->
              <div class="sm-pad">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
              <input name="title" ng-model="commentText" class="mdl-textfield__input"
              type="text" id="title-input-rule">

              </div>

          </div>

        <div layout layout-sm="column">


            <md-input-container style="padding-left:-1px">Validity :<md-select ng-model="hitDetailTrueHitFlag"
                                                                             ng-show="dispStatus.hitStatusShow">
              <md-option value=-1 selected="{{item.name}}"></md-option>
              <md-option ng-repeat="item in hitValidityStatuses" value="{{item.name}}">
                {{item.name}}
              </md-option>
            </md-select>
              <span ng-show="!dispStatus.hitStatusShow">{{hitDetailTrueHitFlag}}</span>
            </md-input-container>

          <md-input-container style="padding-left:300px">Status :<md-select ng-model="hitDispStatus"
                                                                             ng-show="dispStatus.hitStatusShow">
              <md-option value=-1 selected="{{item.name}}"></md-option>
              <md-option ng-repeat="item in dispositionStatuses" value="{{item.name}}">
                {{item.name}}
              </md-option>
            </md-select>
              <span ng-show="!dispStatus.hitStatusShow">{{hitDispStatus}}</span>
            </md-input-container>
        </div>
      </md-content>


      <div class="flex justify-around">
        <button type="button" ng-click="closeSideNav()" class="flex-15 md-raised btn btn-default">
          Cancel
        </button>
        <button type="submit" class="flex-15 md-raised btn btn-primary" ng-show="dispStatus.hitStatusShow">
          Save
        </button>
      </div>
    </form>


    <!-- Previous Comments -->
    <br>
    <hr/>
    <!--<md-toolbar class="md-theme-light">-->
      <h4 class="md-toolbar-tools">Past Comments</h4>
    <!--</md-toolbar>-->
    <div class="flex flex-vert align-items-center">
      <div class="cbp-text-field">
        <div class="cbp-card cbp-card-shadow" style="width: 450px;!important;">

          <div ng-repeat="comment in caseItemHitComments.dispComments" class="no-pad-top panel-body flex flex-vert ie-fix-md">
            <span class="sm-pad">
              Created By: {{ comment.updatedBy }}
            </span>
            <span class="sm-pad">
              Updated On: {{ comment.createdAt | date }}
            </span>
            <!--<summernote airMode>{{ comment.comments }} </summernote>-->
            <textarea class="sm-pad" disabled>{{ comment.comments }}</textarea>
          </div>
        </div>
      </div>
    </div>

  </md-sidenav>


</div>



