

<div id='dom-to-print'>
  <div class="upper-cnt flex justify-around flex-wrap">
    <div class="no-margin cbp-card-container gtas-card-container" id="caseForm">
      <div class="cbp-card cbp-card-shadow">
        <h3 class="h-label no-margin" align="right">Case#: {{ caseItem.id }} &nbsp;&nbsp;&nbsp;</h3>
        <div class="flex flex-wrap">

          <div class="switch-width-sm-half min-half-height right-border-grey">
            <div class="flex flex-vert align-items-center full-height">
              <img class="md-margin cbp-card" style="border-radius: 50%;" name="photo" src="http://via.placeholder.com/150x150">
              <div class="md-margin">
                <div class="flex flex-vert sm-pad-span txt-center">
                  <span>
                    <strong>{{ caseItem.paxName }}</strong>
                  </span>
                  <span name="dob">
                    <strong>DOB:</strong> {{ caseItem.dob | date }}
                  </span>
                  <span name="nationality">
                    <strong>Nationality:</strong> {{ caseItem.nationality }}
                  </span>
                  <span name="nationality">
                    <strong>Passport:</strong> {{ caseItem.document }}
                  </span>
                  <md-button aria-label="type" ng-show="dispStatus.caseStatusAdminView" href="#/paxdetail/{{ caseItem.paxId }}/{{ caseItem.flightId }}" target="pax.detail.{{ caseItem.paxId }}.{{ caseItem.flightId }}" class="md-primary md-button md-default-theme"> Link to Passenger Detail </md-button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body flex flex-vert ie-fix-md three-table switch-width-sm-half" style="overflow: auto;">
            <table aria-hidden="true" class="cbp-table-selectable mdl-js-data-table floating-table-header"  ng-show="dispStatus.oneDay" >
              <thead align="left">
                <tr>
                  <th align="text-right">Rule Category</th>
                  <th style="padding-left: 1px; padding-right: 10px;" class="text-left">Description</th>
                  <th class="text-left">Status</th>
                </tr>
              </thead>
            </table>
            <div class="floating-table-body">
              <table class="cbp-table-selectable mdl-js-data-table">
                <tbody >
                  <tr ng-repeat="hit in caseItemHitsVo" ng-click="sideNav('comments',$index)">
                    <td style="padding-left: 50px; padding-right: 1px;">{{ hit.category }}</td>
                    <td style="padding-left: 1px; padding-right: 10px;">{{ hit.description }}</td>
                    <td style="padding-left: 10px; padding-right: 10px;" align="text-right">{{ hit.status }}</td>
                  </tr>

                </tbody>
              </table>
            </div>

              <table aria-hidden="true" class="cbp-table-selectable mdl-js-data-table floating-table-header">
                  <thead align="left">
                  <tr>
                      <th align="text-right">Case Comments</th>
                  </tr>
                  </thead>
              </table>
              <div class="floating-table-body">
                  <table class="cbp-table-selectable mdl-js-data-table">
                      <tbody >
                      <tr ng-click="sideNavGeneralComments()">
                        <td style="padding-left: 50px; padding-right: 1px;">General Comments</td>
                      </tr>

                      </tbody>
                  </table>
              </div>
            
            <div ng-show="dispStatus.caseStatusAdminView">
              <form name="caseForm" ng-submit="caseConfirm()"
                ng-show="dispStatus.caseStatusShow"
                class="flex flex-vert">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width">
                  <select class="mdl-selectfield__select" id="case-status" ng-change="updateOnStatusChange()"
                    ng-model="caseDispStatus">
                    <option ng-repeat="item in caseDispositionStatuses"
                      value="{{item.name}}">{{item.name}}</option>
                  </select>
                  <label class="mdl-textfield__label static-label" for="case-status"><strong>Case Status</strong></label>
                </div>
                <br/>
                
                
                 <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width">
                 <label for="case-disposition-list"><strong>Start Vetting</strong></label>
                  <select class="mdl-selectfield__select" id="case-disposition-list" ng-change="updateOnDispositionChange()"
                    ng-model="caseDisposition">
                    
                    <option ng-repeat="item in caseDispositionList"
                      value="{{item.name}}">{{item.name}}</option>
                  </select>
                  
                </div>
                <br/>
                <div>  <span name="saveConfirmation"> {{ saveConfirmation }}   </span></div>
                  <button class="btn btn-primary" type="submit">Save</button>
                
              </form>
             
            </div>
               
            <form class="flex flex-center"name="pdfForm" ng-submit="printCard()">
              <md-input-container>
                <button class="md-raised btn btn-default" type="submit">Export PDF</button>
              </md-input-container>
            </form>
            
            
           <md-button ng-click="addToOneDayLookoutList(caseItem.id)" ng-disabled="isAddOLKButtonDisabled" class="btn btn-default">
          				<md-tooltip>Add to One Day Lookout List</md-tooltip>
          					<i aria-hidden="true"></i>
         						 &nbsp;<Strong>Add to One Day Lookout</Strong>
   			</md-button>
   			<br/>
            <md-button ng-click="removeFromOneDayLookoutList(caseItem.id)" ng-disabled="isRemoveOLKButtonDisabled" class="btn btn-default">
          				<md-tooltip>Remove from One Day Lookout List</md-tooltip>
          					<i aria-hidden="true"></i>
         						 &nbsp;<Strong>Remove from One Day Lookout</Strong>
   			</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <md-sidenav class="right-sidebar md-sidenav-right md-whiteframe-z2" md-component-id="comments"
              style="width: 95%; max-width: 650px !important;">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">Status ({{hitDispStatus}})    --    {{caseItemHitComments.description}}</h2>
    </md-toolbar>
    <div id="hitForm">
    <form name="hitForm" ng-submit="commentConfirm()">
      <md-content layout-padding>
       <h4 class="md-toolbar-tools">  Leave a Comment <div class="small"> (Drag or paste a file into the editor to include an attachment)</div> </h4>
        <trix-editor angular-trix ng-model="commentText" placeholder="Write something.."
            trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);">
        </trix-editor>
        <div class="flex justify-around flex-wrap">
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width">
            <span ng-show="!dispStatus.hitStatusShow">{{hitDetailTrueHitFlag}}</span>
            <select ng-show="dispStatus.hitStatusShow"
              class="mdl-selectfield__select" id="validity"
               ng-model="hitDetailTrueHitFlag">
              <option ng-repeat="item in hitValidityStatuses"
                value="{{item.name}}">{{item.name}}</option>
            </select>
            <label class="mdl-textfield__label static-label" for="validity">Validity</label>
          </div>
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width">
            <span ng-show="!dispStatus.hitStatusShow">{{hitDispStatus}}</span>
            <select ng-show="dispStatus.hitStatusShow"
              class="mdl-selectfield__select" id="disp-status"
                ng-model="hitDispStatus">
              <option ng-repeat="item in hitDispositionStatuses"
                value="{{item.name}}">{{item.name}}</option>
            </select>
            <label class="mdl-textfield__label static-label" for="disp-status">Status</label>
          </div>
        </div>
      </md-content>

      <div class="flex justify-around">
        <button type="button" ng-click="closeSideNav()" class="btn btn-default">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" ng-show="dispStatus.hitStatusShow">
          Save
        </button>
      </div>
    </form>
    </div>
    <h4 class="md-toolbar-tools">Past Comments</h4>
    <div class="flex flex-vert align-items-center">
      <div class="cbp-text-field switch-width-sm-half">
        <div class="cbp-card cbp-card-shadow" >
          <div ng-repeat="comment in caseItemHitComments.dispCommentsVo | orderBy : updatedAt" class="no-pad-top panel-body flex flex-vert ie-fix-md">
            <span class="sm-pad">
              <strong>Created By:</strong> {{ comment.createdBy }}
            </span>
            <span class="sm-pad">
             <strong> Updated On: </strong> {{ comment.updatedAt | date }}
            </span>

            <div id="links" ng-repeat="att in comment.attachmentSet">
            <a ng-href="/gtas/getdownload/{{ att.id }}" ng-click="packageAttachments(att)" >
              <span class="sm-pad">
                Attachment: {{ att.filename }}
                </span>
            </a>

            </div>

            <trix-editor angular-trix trix-initialize="trixInitialize(e, editor);" disabled ng-model="comment.comments"> </trix-editor>

          </div>
        </div>
      </div>
    </div>
</div>
<md-sidenav class="right-sidebar md-sidenav-right md-whiteframe-z2" md-component-id="generalComments"
            style="width: 95%; max-width: 650px !important;">
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">General Case Comments</h2>
  </md-toolbar>
  <div id="generalComment">
    <form name="commentForm" ng-submit="commentGeneralConfirm()">
      <md-content layout-padding>
        <h4 class="md-toolbar-tools">  Leave a Comment</h4>
        <trix-editor angular-trix ng-model="generalComment" placeholder="Write something..">

        </trix-editor>
        <div class="flex justify-around flex-wrap">
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width">
            <span ng-show="!dispStatus.hitStatusShow">{{hitDetailTrueHitFlag}}</span>
            <select ng-show="dispStatus.hitStatusShow"
                    class="mdl-selectfield__select" id="caseStatus"
                    ng-model="caseOfficerStatus">
              <option ng-repeat="item in caseValidityStatuses"
                      value="{{item.name}}">{{item.name}}</option>
            </select>
            <label class="mdl-textfield__label static-label" for="validity">Case Status</label>
          </div>
        </div>
      </md-content>

      <div class="flex justify-around">
        <button type="button" ng-click="closeGeneralComments()" class="btn btn-default">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" ng-show="dispStatus.hitStatusShow">
          Save
        </button>
      </div>
    </form>
  </div>
  <h4 class="md-toolbar-tools">Past Comments</h4>
  <div class="flex flex-vert align-items-center">
    <div class="cbp-text-field switch-width-sm-half">
      <div class="cbp-card cbp-card-shadow" >
        <div ng-repeat="comment in caseComments | orderBy : comment.createdAt" class="no-pad-top panel-body flex flex-vert ie-fix-md">
            <span class="sm-pad">
              <strong>Created By:</strong> {{ comment.createdBy }}
            </span>
            <span class="sm-pad">
             <strong> Created On: </strong> {{ comment.createdAt | date }}
            </span>
          <trix-editor angular-trix trix-initialize="trixInitialize(e, editor);" disabled ng-model="comment.comment"> </trix-editor>

        </div>
      </div>
    </div>
  </div>