<!--
  ~ /*
  ~  * All Application code is Copyright 2016, The Department of Homeland Security (DHS), U.S. Customs and Border Protection (CBP).
  ~  *
  ~  * Please see LICENSE.txt for details.
  ~  */
  -->

<form name="sideForm"  ng-submit="filter()" class="filters" _lpchecked="1">
    <div class="filter-list" role="tablist">
        <h5 class="filter-heading">{{'nav.filters' | translate}}
            <button type="submit" class="btn btn-icon-only btn-hover">
                <md-tooltip>{{'flight.filter' | translate}}</md-tooltip>
                <i class="fa fa-search"></i>
            </button>
            <a href="#/casedisposition" ng-click="clearFilters()" class="filters-clear">{{'nav.clearfilters' | translate}}</a>
        </h5>
        <h6 ng-show='filterCheck("dispstatus")' aria-expanded="true" data-toggle="collapse" role="tab" data-target="#dispstatusGroup" aria-controls="statusGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>{{'case.casestatus' | translate}}
        </h6>
        <div id="dispstatusGroup" ng-show='filterCheck("dispstatus")' class="collapse in" aria-expanded="true">
            <div class="filter-group-content">
                <div data-upgraded=",MaterialSelectfield">
                    <label>{{'hit.statusopen' | translate}}:
                        <input type="checkbox" ng-model="model.displayStatusCheckBoxes.NEW">
                    </label><br/>
                    <label>{{'hit.statusreopened' | translate}}:
                        <input type="checkbox" ng-model="model.displayStatusCheckBoxes.RE_OPENED">
                    </label><br/>
                    <label>{{'hit.statusreviewed' | translate}}:
                        <input type="checkbox" ng-model="model.displayStatusCheckBoxes.REVIEWED">
                    </label><br/>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("onlyMyRules")' aria-expanded="true" data-toggle="collapse" role="tab" data-target="#userRulesOnly" aria-controls="userRulesOnlyGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>{{'case.onlyMyRules' | translate}}
        </h6>
        <div ng-show='filterCheck("onlyMyRules")' id="userRulesOnly" class="collapse in" aria-expanded="true">
            <div class="filter-group-content">
                <div data-upgraded=",MaterialSelectfield">
                    <label>{{'case.onlyMyRules' | translate}}:
                        <input type="checkbox" ng-model="model.myRulesOnly">
                    </label>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("rulecats")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#rulecatsGroup" aria-controls="rulecatsGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>{{'case.rulecategory' | translate}}
        </h6>
        <div id="rulecatsGroup" ng-show='filterCheck("rulecats")' class="collapse" aria-expanded="false">
            <div class="filter-group-content">
                <div data-upgraded=",MaterialSelectfield">
                    <div ng-repeat="cat in model.ruleCatFilter" data-upgraded=",MaterialSelectfield">
                        <label >{{cat.name}}
                            <input type="checkbox" ng-model="cat.value">
                            <br/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("ruleTypes")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#ruleTypeGroup" aria-controls="ruleTypeGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>{{'case.ruleType' | translate}}
        </h6>
        <div id="ruleTypeGroup" ng-show='filterCheck("ruleTypes")' class="collapse" aria-expanded="true">
            <div class="filter-group-content">
                <div data-upgraded=",MaterialSelectfield">
                    <label>{{'rule.userdefinedrule' | translate}}:
                        <input type="checkbox" ng-model="model.ruleTypes.USER_RULE">
                    </label><br/>
                    <label>{{'rule.graphrule' | translate}}:
                        <input type="checkbox" ng-model="model.ruleTypes.GRAPH_RULE">
                    </label><br/>
                    <label>{{'rule.watchlist' | translate}}:
                        <input type="checkbox" ng-model="model.ruleTypes.WATCHLIST">
                    </label><br/>
                    <label>{{'rule.manual' | translate}}:
                        <input type="checkbox" ng-model="model.ruleTypes.MANUAL">
                    </label><br/>
                    <label>{{'rule.external' | translate}}:
                        <input type="checkbox" ng-model="model.ruleTypes.EXTERNAL_RULE">
                    </label><br/>
                    <label>{{'rule.partialwatchlist' | translate}}:
                        <input type="checkbox" ng-model="model.ruleTypes.PARTIAL_WATCHLIST">
                    </label><br/>
                    </label>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("priority")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#priorityGroup" aria-controls="priorityGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a> Priority
        </h6>
        <div id="priorityGroup" ng-show='filterCheck("priority")' class="collapse in" aria-expanded="true">
            <div class="filter-group-content">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width is-upgraded" data-upgraded=",MaterialSelectfield">
                    <select class="cbp-non-chip-input mdl-selectfield__select" id="priority"
                            ng-model="model.priority">
                        <option ng-repeat="item in priorityGroup" value="{{item.value}}" translate>
                            {{item.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("status")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#statusGroup" aria-controls="statusGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a> Status
        </h6>
        <div id="statusGroup" ng-show='filterCheck("status")' class="collapse in" aria-expanded="true">
            <div class="filter-group-content">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width is-upgraded" data-upgraded=",MaterialSelectfield">
                    <select class="cbp-non-chip-input mdl-selectfield__select" id="status"
                            ng-model="model.status">
                        <option ng-repeat="item in statusGroup" value="{{item.value}}" translate>
                            {{item.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("date")' aria-expanded="true" data-toggle="collapse" role="tab" data-target="#dateGroup" aria-controls="dateGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
            <span ng-show='filterCheck("dateLabel")'>{{'nav.daterange' | translate}}</span> 
        </h6>
        <div id="dateGroup" ng-show='filterCheck("date")' class="collapse in pull-left">
            <div class="filter-group-content">
                <div class="row form-group col-xs-12 pull-left">
                    <div class="dropdown form-group dropdown-start-parent">
                        <label for="etaStartInput">{{'flight.startdate' | translate}}</label>
                        <div class="input-group date">
                            <input type="text" datetime="yyyy-MM-dd HH:mm" class="form-control" data-ng-model="model.etaStart" id="etaStartInput" />
                            <span class="input-group-addon dropdown-toggle"
                                  id="dropdownStart"
                                  role="button"
                                  data-toggle="dropdown"
                                  data-target=".dropdown-start-parent"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker
                                    style="width: 300px;"
                                    data-ng-model="model.etaStart"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }"></datetimepicker>
                        </ul>
                    </div>
                    <div class="dropdown form-group dropdown-end-parent">
                        <label for="etaEndInput">{{'flight.enddate' | translate}}</label>
                        <div class="input-group date">
                            <input type="text" datetime="yyyy-MM-dd HH:mm" class="form-control"  data-ng-model="model.etaEnd" id="etaEndInput" />
                            <span  id="dropdownEnd"
                                   role="button"
                                   data-toggle="dropdown"
                                   data-target=".dropdown-end-parent"
                                   class="input-group-addon">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                            <datetimepicker
                                    style="width: 300px;"
                                    data-ng-model="model.etaEnd"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }"
                            ></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("paxname")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#paxnameGroup" aria-controls="nameGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
            {{'pass.passengername' | translate}}
        </h6>
        <div id="paxnameGroup" ng-show='filterCheck("paxname")' class="collapse" aria-expanded="false">
            <div class="filter-group-content">
                <div class="form-group">
                    <input class="cbp-non-chip-input cbp-input mdl-textfield__input" type="text"
                           aria-required="true" id="paxname" ng-model="model.name" />
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("name")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#nameGroup" aria-controls="nameGroup" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
            {{'pass.lastname' | translate}}
        </h6>
        <div id="nameGroup" ng-show='filterCheck("name")' class="collapse in" aria-expanded="true">
            <div class="filter-group-content">
                <div class="form-group">
                    <input class="cbp-non-chip-input cbp-input mdl-textfield__input" type="text"
                           aria-required="true" id="name" ng-model="model.name" />
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("origin")' aria-expanded="false" data-toggle="collapse" role="tab"
            data-target="#originGroup" aria-controls="originGroup" class="filter-group-title">
            {{'flight.originairport' | translate}}
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
        </h6>
        <div id="originGroup" ng-show='filterCheck("origin")' class="collapse in">
            <div class="filter-group-content">
                <div class="form-group">
                    <!--Flights!-->
                    <md-contact-chips class="cbp-input mdl-textfield__input" ng-model="model.origin"
                                      md-contacts="flights.querySearch($query)" md-contact-name="id"
                                      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                                      filter-selected="flights.filterSelected" data-ng-if="stateName !== 'paxAll'">
                    </md-contact-chips>
                    <!--Passengers!-->
                    <md-contact-chips class="cbp-input mdl-textfield__input" ng-model="model.origin"
                                      md-contacts="searchSort($query)" md-contact-name="id"
                                      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                                      filter-selected="filterSelected" data-ng-if="stateName === 'paxAll'">
                    </md-contact-chips>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("destination")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#filterGroup2"
            aria-controls="filterGroup2" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
            {{'flight.destinationairport' | translate}}
        </h6>
        <div id="filterGroup2" ng-show='filterCheck("destination")' class="collapse in" aria-expanded="true">
            <div class="filter-group-content">
                <div class="form-group">
                    <!--Flights!-->
                    <md-contact-chips class="cbp-input mdl-textfield__input" ng-model="model.dest"
                                      md-contacts="flights.querySearch($query)" md-contact-name="id"
                                      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                                      filter-selected="flights.filterSelected" data-ng-if="stateName !== 'paxAll'" >
                    </md-contact-chips>
                    <!--Passengers!-->
                    <md-contact-chips class="cbp-input mdl-textfield__input" ng-model="model.dest"
                                      md-contacts="searchSort($query)" md-contact-name="id"
                                      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                                      filter-selected="filterSelected" data-ng-if="stateName === 'paxAll'">
                    </md-contact-chips>
                </div>
            </div>
        </div>
        <h6 ng-show='filterCheck("flight")' aria-expanded="false" data-toggle="collapse" role="tab" data-target="#filterGroup1" aria-controls="filterGroup1" class="filter-group-title collapsed">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>
            {{'flight.flight' | translate}}
        </h6>
        <div id="filterGroup1" ng-show='filterCheck("flight")' class="collapse" aria-expanded="false">
            <div class="filter-group-content">
                <div class="form-group">
                    <input class="cbp-non-chip-input cbp-input mdl-textfield__input" type="text"
                           aria-required="true" id="flightNumber" ng-model="model.flightNumber" />
                </div>
            </div>
        </div>
        <h6 aria-expanded="false" ng-show='filterCheck("direction")' data-toggle="collapse" role="tab" data-target="#filterGroup5" aria-controls="filterGroup5" class="filter-group-title">
            <a href="#"><i class="fa fa-angle-right pull-right"></i></a>{{'flight.direction' | translate}}
        </h6>
        <div id="filterGroup5" ng-show='filterCheck("direction")' class="collapse in" aria-expanded="true">
            <div ng-show='filterCheck("direction")' class="filter-group-content">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--full-width is-upgraded" data-upgraded=",MaterialSelectfield">
                    <select class="cbp-non-chip-input mdl-selectfield__select" id="direction"
                            ng-model="model.direction" ng-change="updateOnDirectionChange()">
                        <option ng-repeat="item in flightDirections" value="{{item.value}}" translate>
                            {{item.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>
