<div type="text/ng-template">
    <div class="modal-header">
        <h3>Notification Form</h3>
    </div>
    <form ng-submit="submit()">
      <div class="modal-body">
        <label>Email address:</label>
        <input type="email" ng-model="emailDto.to"/>
        <label>Subject</label>
        <input type="text" ng-model="emailDto.subject"/>
        <label>Description</label>
        <textarea ng-model="emailDto.body"></textarea>
      </div>
      <div class="modal-footer">
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
          <input type="submit" class="btn primary-btn" value="Submit" />
      </div>
    </form>
</div>